openapi: 3.2.0
info:
  title: Dolby OptiView Ad Engine Cloud Preview API
  version: 1.0.0
servers:
- url: https://api.galaxy.dolbyrasp.com
tags:
- name: Cloud Preview
paths:
  /media-info:
    get:
      operationId: media-info
      tags:
      - Cloud Preview
      summary: Media Info
      responses:
        '200':
          description: OK
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: URL of the media file
      - name: credentials_key
        in: query
        required: false
        schema:
          type: string
        description: The key of the stored credentials to use when accessing the URL.
      - name: x-rasp-auth-token
        in: header
        required: true
        schema:
          type: string
        description: Authentication token.
      x-displayName: Media Info
      security:
      - ApiKeyAuth: []
  /image:
    get:
      operationId: image
      tags:
      - Cloud Preview
      summary: Image
      responses:
        '200':
          description: OK
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: URL of the media file
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - png
          - jpeg
          default: jpeg
        description: The image format to return
      - name: width
        in: query
        required: false
        schema:
          type: integer
          minimum: 16
          maximum: 3840
        description: The width of the image in pixels. If not specified, will be calcualted based on the source dimension.
      - name: height
        in: query
        required: false
        schema:
          type: integer
          minimum: 16
          maximum: 2160
        description: The height of the image in pixels. If not specified, will be calcualted based on the source dimension.
      - name: offset_percent
        in: query
        required: false
        schema:
          type: number
          minimum: 0
          maximum: 100
          default: 10
        description: The percentage offset into the video to capture the image from.
      - name: credentials_key
        in: query
        required: false
        schema:
          type: string
        description: The key of the stored credentials to use when accessing the URL.
      - name: x-rasp-auth-token
        in: header
        required: true
        schema:
          type: string
        description: Authentication token.
      x-displayName: Image
      security:
      - ApiKeyAuth: []
  /cloud-preview/codemill:
    post:
      tags:
      - Cloud Preview
      operationId: cloud-preview-codemill
      summary: Cloud Preview - Codemill
      description: Generates Accurate Player templates for instant cloud asset media playback.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/codemill_explicit_outputs'
              - $ref: '#/components/schemas/codemill_implicit_templates'
            examples:
              explicit:
                summary: Explicit output configuration
                value:
                  urls:
                  - url: https://my_server/my_folder/tears_of_steel.mov
                    id: v0
                  - url: https://my_server/my_folder/tears_of_steel_english.mov
                    id: a0
                  - url: https://my_server/my_folder/tears_of_steel_italian.mov
                    id: a1
                  - url: https://my_server/my_folder/tears_of_steel_french_subs.srt
                    id: s0
                  map:
                    video:
                    - url_id: v0
                      track_idx: 0
                    audio:
                    - url_id: a0
                      track_idx: 0
                    - url_id: a1
                      track_idx: 0
                    subtitle:
                    - url_id: s0
                      track_idx: 0
                  outputs:
                  - encode_profile:
                      container:
                        kind: hls/fmp4
                      video:
                        height: 1080
                        bitrate_mode: vbr
                        bitrate_kb: 2500
                        max_bitrate_kb: 3500
                        codec: h264
                        preset: veryfast
                      audio:
                      - program_name: en_stereo
                        codec: aac
                        bitrate_kb: 128
                        channels: 2
                        track_selector:
                          track_idx: 0
                      - program_name: it_stereo
                        codec: aac
                        bitrate_kb: 128
                        channels: 2
                        track_selector:
                          track_idx: 1
                      subtitle:
                      - program_name: french-subs
                        track_selector:
                          track_idx: 0
                  options:
                    use_source_start_time_code: true
              implicit:
                summary: Implicit template inference
                value:
                  urls:
                  - url: https://my_server/my_folder/tears_of_steel.mov
                  - url: https://my_server/my_folder/tears_of_steel_english.mov
                  - url: https://my_server/my_folder/tears_of_steel_italian.mov
                  - url: https://my_server/my_folder/tears_of_steel_french_subs.srt
                  profile_templates:
                  - type: video
                    name: sdr
                    selectors:
                    - range: sdr
                    - range: dolby_vision_5
                    - range: dovi_mezzanine
                    - range: dovi_mezzanine_xml
                    - range: hdr10
                    profile:
                      video:
                        height: 720
                        width: 1280
                        bitrate_mode: crf
                        crf: 19
                        max_bitrate_kb: 8000
                        codec: h264
                        range: sdr
                        preset: veryfast
                  - type: audio
                    selectors:
                    - channels: 1
                    profile:
                      audio:
                        codec: aac
                        bitrate_kb: 96
                        channels: 1
                  - type: audio
                    selectors:
                    - channels: 2
                    profile:
                      audio:
                        codec: aac
                        bitrate_kb: 128
                        channels: 2
                  - type: audio
                    selectors:
                    - channels: 6
                    profile:
                      audio:
                        codec: aac
                        bitrate_kb: 256
                        channels: 6
                  - type: subtitle
                    selectors:
                    - codec_name: '*'
                    profile:
                      subtitle: {}
                  options:
                    use_source_start_time_code: true
      responses:
        '200':
          description: OK
      x-displayName: Codemill
      parameters:
      - name: x-rasp-auth-token
        in: header
        required: true
        schema:
          type: string
        description: Authentication token.
      security:
      - ApiKeyAuth: []
  /cloud-preview/omakase:
    post:
      tags:
      - Cloud Preview
      operationId: cloud-preview-omakase
      summary: Cloud Preview - Omakase
      description: Generates Omakase Player Session templates for instant cloud asset media playback.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/omakase_explicit_outputs'
              - $ref: '#/components/schemas/omakase_implicit_templates'
            examples:
              explicit:
                summary: Explicit output configuration
                value:
                  urls:
                  - url: https://my_server/my_folder/tears_of_steel.mov
                    id: v0
                  - url: https://my_server/my_folder/tears_of_steel_english.mov
                    id: a0
                  - url: https://my_server/my_folder/tears_of_steel_italian.mov
                    id: a1
                  - url: https://my_server/my_folder/tears_of_steel_french_subs.srt
                    id: s0
                  map:
                    video:
                    - url_id: v0
                      track_idx: 0
                    audio:
                    - url_id: a0
                      track_idx: 0
                    - url_id: a1
                      track_idx: 0
                    subtitle:
                    - url_id: s0
                      track_idx: 0
                  outputs:
                  - encode_profile:
                      container:
                        kind: hls/fmp4
                      video:
                        height: 1080
                        bitrate_mode: vbr
                        bitrate_kb: 2500
                        max_bitrate_kb: 3500
                        codec: h264
                        preset: veryfast
                      audio:
                      - program_name: en_stereo
                        codec: aac
                        bitrate_kb: 128
                        channels: 2
                        track_selector:
                          track_idx: 0
                      - program_name: it_stereo
                        codec: aac
                        bitrate_kb: 128
                        channels: 2
                        track_selector:
                          track_idx: 1
                      subtitle:
                      - program_name: french-subs
                        track_selector:
                          track_idx: 0
                  options:
                    use_source_start_time_code: true
              implicit:
                summary: Implicit template inference
                value:
                  urls:
                  - url: https://my_server/my_folder/tears_of_steel.mov
                  - url: https://my_server/my_folder/tears_of_steel_english.mov
                  - url: https://my_server/my_folder/tears_of_steel_italian.mov
                  - url: https://my_server/my_folder/tears_of_steel_french_subs.srt
                  profile_templates:
                  - type: video
                    name: sdr
                    selectors:
                    - range: sdr
                    - range: dolby_vision_5
                    - range: dovi_mezzanine
                    - range: dovi_mezzanine_xml
                    - range: hdr10
                    profile:
                      video:
                        height: 720
                        width: 1280
                        bitrate_mode: crf
                        crf: 19
                        max_bitrate_kb: 8000
                        codec: h264
                        range: sdr
                        preset: veryfast
                  - type: audio
                    selectors:
                    - channels: 1
                    profile:
                      audio:
                        codec: aac
                        bitrate_kb: 96
                        channels: 1
                  - type: audio
                    selectors:
                    - channels: 2
                    profile:
                      audio:
                        codec: aac
                        bitrate_kb: 128
                        channels: 2
                  - type: audio
                    selectors:
                    - channels: 6
                    profile:
                      audio:
                        codec: aac
                        bitrate_kb: 256
                        channels: 6
                  - type: subtitle
                    selectors:
                    - codec_name: '*'
                    profile:
                      subtitle: {}
                  options:
                    use_source_start_time_code: true
      responses:
        '200':
          description: OK
      x-displayName: Omakase
      parameters:
      - name: x-rasp-auth-token
        in: header
        required: true
        schema:
          type: string
        description: Authentication token.
      security:
      - ApiKeyAuth: []
  /cloud-preview/hls:
    post:
      tags:
      - Cloud Preview
      operationId: cloud-preview-hls
      summary: Cloud Preview - HLS
      description: Generates HLS Preview templates for instant cloud asset media playback.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/hls_explicit_outputs'
              - $ref: '#/components/schemas/hls_implicit_templates'
            examples:
              explicit:
                summary: Explicit output configuration
                value:
                  urls:
                  - url: https://my_server/my_folder/tears_of_steel.mov
                    id: v0
                  - url: https://my_server/my_folder/tears_of_steel_english.mov
                    id: a0
                  - url: https://my_server/my_folder/tears_of_steel_italian.mov
                    id: a1
                  - url: https://my_server/my_folder/tears_of_steel_french_subs.srt
                    id: s0
                  map:
                    video:
                    - url_id: v0
                      track_idx: 0
                    audio:
                    - url_id: a0
                      track_idx: 0
                    - url_id: a1
                      track_idx: 0
                    subtitle:
                    - url_id: s0
                      track_idx: 0
                  outputs:
                  - encode_profile:
                      container:
                        kind: hls/fmp4
                      video:
                        height: 1080
                        bitrate_mode: vbr
                        bitrate_kb: 2500
                        max_bitrate_kb: 3500
                        codec: h264
                        preset: veryfast
                      audio:
                      - program_name: en_stereo
                        codec: aac
                        bitrate_kb: 128
                        channels: 2
                        track_selector:
                          track_idx: 0
                      - program_name: it_stereo
                        codec: aac
                        bitrate_kb: 128
                        channels: 2
                        track_selector:
                          track_idx: 1
                      subtitle:
                      - program_name: french-subs
                        track_selector:
                          track_idx: 0
                  options:
                    use_source_start_time_code: true
              implicit:
                summary: Implicit template inference
                value:
                  urls:
                  - url: https://my_server/my_folder/tears_of_steel.mov
                  - url: https://my_server/my_folder/tears_of_steel_english.mov
                  - url: https://my_server/my_folder/tears_of_steel_italian.mov
                  - url: https://my_server/my_folder/tears_of_steel_french_subs.srt
                  profile_templates:
                  - type: video
                    name: sdr
                    selectors:
                    - range: sdr
                    - range: dolby_vision_5
                    - range: dovi_mezzanine
                    - range: dovi_mezzanine_xml
                    - range: hdr10
                    profile:
                      video:
                        height: 720
                        width: 1280
                        bitrate_mode: crf
                        crf: 19
                        max_bitrate_kb: 8000
                        codec: h264
                        range: sdr
                        preset: veryfast
                  - type: audio
                    selectors:
                    - channels: 1
                    profile:
                      audio:
                        codec: aac
                        bitrate_kb: 96
                        channels: 1
                  - type: audio
                    selectors:
                    - channels: 2
                    profile:
                      audio:
                        codec: aac
                        bitrate_kb: 128
                        channels: 2
                  - type: audio
                    selectors:
                    - channels: 6
                    profile:
                      audio:
                        codec: aac
                        bitrate_kb: 256
                        channels: 6
                  - type: subtitle
                    selectors:
                    - codec_name: '*'
                    profile:
                      subtitle: {}
                  options:
                    use_source_start_time_code: true
      responses:
        '200':
          description: OK
      x-displayName: Hls
      parameters:
      - name: x-rasp-auth-token
        in: header
        required: true
        schema:
          type: string
        description: Authentication token.
      security:
      - ApiKeyAuth: []
components:
  schemas:
    Filter_video_overlay:
      type: object
      title: Video Overlay
      required:
      - kind
      - payload
      properties:
        kind:
          const: video_overlay
          description: 'Filter kind: ''video_overlay''.'
        payload:
          type: object
          description: Specifies the parameters for the video overlay filter.
          properties:
            video_url:
              description: Defines the http(-s) of the video to be used.
              type: string
            x:
              default: 25
              oneOf:
              - type: integer
              - type: string
              description: 'X position of the overlay. Can use expressions such as overlay_w-20 (overlay_w: width of the overlay).'
            y:
              default: 25
              oneOf:
              - type: integer
              - type: string
              description: 'Y position of the overlay. Can use expressions such as overlay_h-20 (overlay_h: height of the overlay).'
            width:
              oneOf:
              - type: number
              - type: string
              description: Width of the overlay. Can use expressions such as source_w (width of the video source).
            height:
              oneOf:
              - type: number
              - type: string
              description: Height of the overlay. Can use expressions such as source_h (height of the video source).
            opacity:
              type: number
              default: 1
              description: Opacity of the overlay. 0 = fully transparent, 1 = fully opaque.
            start_sec:
              type: number
              description: Start point (in seconds) of the overlay.
            duration_sec:
              type: number
              description: Duration (in seconds) of the overlay.
            fadein_duration_sec:
              type: number
              description: Fade-in time (in seconds) of the overlay.
            fadeout_duration_sec:
              type: number
              description: Fade-out time (in seconds) of the overlay.
            repeat_count:
              type: integer
              description: How many times to repeat the video overlay on the primary video. To repeat indefinitely use "-1".
          additionalProperties: false
      description: The video filter object with a specific kind and payload format.
    hls_implicit_templates:
      allOf:
      - type: object
        properties:
          name:
            type: string
            description: Pretty name for this asset
            x-apps:
            - core-api
          urls:
            type: array
            items:
              anyOf:
              - allOf:
                - type: object
                  properties:
                    url:
                      type: string
                      format: uri
                      description: URL of the media file
                    id:
                      type: string
                      description: Optional identifier for the URL
                    access:
                      oneOf:
                      - type: object
                        properties:
                          shared_key:
                            title: AWS Key
                            description: The AWS Key.
                            type:
                            - string
                            - 'null'
                            maxLength: 512
                          secret_key:
                            title: AWS Secret
                            description: The AWS Secret.
                            type:
                            - string
                            - 'null'
                            maxLength: 512
                          session_token:
                            title: AWS Session Token
                            description: The AWS Session Token.
                            type:
                            - string
                            - 'null'
                            maxLength: 2048
                          region:
                            title: AWS Region
                            description: The AWS region (optional).
                            type:
                            - string
                            - 'null'
                            maxLength: 512
                        required:
                        - shared_key
                        - secret_key
                        additionalProperties: false
                      - type: object
                        properties:
                          credentials_key:
                            type: string
                            description: Key to retrieve stored credentials for accessing the URL
                        required:
                        - credentials_key
                        additionalProperties: false
                  required:
                  - url
                - type: object
                  properties:
                    mime:
                      type: string
                  additionalProperties: true
              - type: string
          expiration:
            type: string
            description: Expiration time for the RUID in ISO 8601 format
        required:
        - urls
      - type: object
        properties:
          output_templates:
            type: array
            items:
              type: object
              properties:
                type:
                  enum:
                  - audio
                  - video
                  - subtitle
                name:
                  type: string
                selectors:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                encode_profile:
                  type: object
                  required:
                  - container
                  properties:
                    container:
                      type: object
                      required:
                      - kind
                      properties:
                        kind:
                          enum:
                          - hls
                          - hls/fmp4
                          - mpegts
                          - mpeg2ts
                          - mp4
                          - m4a
                          - fmp4
                          - m4s
                          - wav
                          - nut
                          description: The type of media container for the output.
                        use_editlist:
                          type: boolean
                          description: This sets the edit list atom (elst) in MP4 files. Read more here https://developer.apple.com/documentation/quicktime-file-format/edit_list_atom. The default is false.
                        mpegts_initial_discontinuity:
                          type: boolean
                          default: false
                        segment_duration_sec:
                          type: number
                          description: The segment duration in seconds for segmented or fragmented streams such as HLS or mp4/MPEG-DASH. Decimal notation (e.g. 5.5) is supported.
                        prefetch_hint_sec:
                          type: number
                          description: This determines how much to encode ahead of the current time during playback. It can be separately determined for the audio and video streams.
                      additionalProperties: false
                    video:
                      anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: An ID for the video layer.
                          width:
                            type: integer
                            description: Width of the output video.
                          height:
                            type: integer
                            description: Height of the output video.
                          bitrate_kb:
                            type: integer
                            description: The video bitrate in kilobits per second. For vbr, this is the average bitrate.
                          frame_rate:
                            oneOf:
                            - type: string
                              pattern: ^\d+\.?,?\/?\d+$
                            - type: number
                            description: 'The video frame rate - can be expressed in decimal or fraction notation, examples: 29.97, 30000/1001'
                          codec:
                            enum:
                            - h264
                            - h265
                            description: The desired output video codec.
                          chroma_format:
                            type: string
                            description: The chroma format.
                          color_primaries:
                            enum:
                            - bt601
                            - smpte170m
                            - bt709
                            - bt470m
                            - bt470bg
                            - smpte240m
                            - film
                            - bt2020
                            - smpte428
                            - smpte431
                            - smpte432
                            - jedec-p22
                            description: Chroma coordinate reference of the source primaries. The default is determined by video size.
                          color_trc:
                            enum:
                            - bt601
                            - smpte170m
                            - bt709
                            - gamma22
                            - bt470m
                            - gamma28
                            - bt470bg
                            - smpte240m
                            - smpte428
                            - linear
                            - log
                            - log_sqrt
                            - bt1361
                            - smpte2084
                            - iec61966_2_1
                            - iec61966_2_4
                            - bt2020_10bit
                            - bt2020_12bit
                            - hlg
                            - arib-std-b67
                            description: Color transfer characteristics. The default determined by video size.
                          color_matrix:
                            enum:
                            - rgb
                            - bt470bg
                            - bt709
                            - smpte170m
                            - smpte240m
                            - ycgco
                            - bt2020c
                            - bt2020nc
                            - smpte2085
                            - chroma-derived-nc
                            - chroma-derived-c
                            - ictcp
                            - fcc
                            description: YUV/YCbCr colorspace type.
                          ire_range_mode:
                            enum:
                            - full
                            - limited
                            - auto
                            description: The IRE range for the source video. The default is auto.
                          range:
                            enum:
                            - sdr
                            - dolby_vision_5
                            - dolby_vision_8.1
                            - hdr10
                            description: The color range of the output video. The default is sdr.
                          sdr_enhancement:
                            type: object
                            properties:
                              mode:
                                enum:
                                - simple
                                - lut_low
                                - lut_med
                                - lut_high
                                default: lut_med
                                description: The conversion stregth of the SDR to HDR conversion 3D LUT.
                              use_metadata_smoothing:
                                type: boolean
                                default: true
                                description: Flag to smooth the HDR metadata between encoding segments.
                            additionalProperties: false
                            description: Object defining SDR to HDR enhancement controls.
                          abr_map:
                            type: object
                            properties:
                              hls_audio_group:
                                type: string
                                description: The HLS group that this layer belongs to.
                              compatibility_group:
                                type: string
                                description: The compatibility group that this layer belongs to.
                            additionalProperties: false
                            description: Object with parameters controlling HLS audio layer affinities.
                          dar:
                            oneOf:
                            - type: string
                              pattern: ^\d+\.?:?\/?\d+$
                            - type: number
                            description: 'The display aspect ratio. May expressed in decimal or fraction notation, examples: 1.33, 4/3'
                          sar:
                            oneOf:
                            - type: string
                              pattern: ^\d+\.?:?\/?\d+$
                            - type: number
                            description: The storage aspect ratio. May expressed in decimal or fraction notation. The storage aspect ratio, display aspect ratio, and pixel aspect ratio are related by DAR = SAR x PAR
                          force_original_aspect_ratio:
                            type: boolean
                            description: This will force the output to have the same aspect ratio as the input.
                          profile:
                            type: string
                            description: The profile for your codec. Not all profiles are valid for all codecs.
                          level:
                            type: string
                            description: The codec-dependent level - please reference ISO/IEC 14496-10, ISO/IEC 13818-2 etc.
                          preset:
                            type: string
                            description: Codec preset. See https://trac.ffmpeg.org/wiki/Encode/H.264 for examples.
                          max_bitrate_kb:
                            type: number
                            description: The maximum video bitrate in kilobits per second. Only valid for crf and vbr.
                          min_bitrate_kb:
                            type: number
                            description: The minimum video bitrate in kilobits per second. Only valid for crf and vbr.
                          vbv_buffer_size_kb:
                            type: number
                            description: The vbv buffer size in kilobits.
                          vbv_init_occupancy_kb:
                            type: number
                            description: The vbv init occupancy in kilobits.
                          exact_gop_frames:
                            type: integer
                            description: Use a fixed GOP size of this many frames.
                          idr_interval:
                            type: object
                            properties:
                              seconds:
                                type: number
                                description: Describes IDR frame interval in seconds.
                              frames:
                                type: integer
                                description: Describes IDR frame interval in frames.
                            additionalProperties: false
                            description: Describes a IDR frame interval, as count or seconds.
                          refs:
                            type: integer
                            description: The number of h.264 reference frames to used for future frames. If not set, the profile/level combination will determine the proper number of reference frames.
                          use_scene_detection:
                            type: boolean
                            description: Enable or disable scene change detection. Disabling will come with a steep penalty on video quality.
                          use_closed_gop:
                            type: boolean
                            description: Force use of closed GOPs.
                          bitrate_mode:
                            type: string
                            description: The bitrate mode for the codec. Values include cbr, vbr, and crf.
                          crf:
                            type: number
                            description: If the bitrate mode is crf, then this value must be specified. A Constant Rate Factor setting of 18 is considered excellent. Higher values equal lower quality. A change of +6 should roughly halve the resulting file size. See https://trac.ffmpeg.org/wiki/Encode/H.264
                          use_sequence_header_per_gop:
                            type: boolean
                            description: This will write a sequence header for each GOP.
                          closed_captions:
                            type: object
                            properties:
                              suppress:
                                type: boolean
                                enum:
                                - true
                                description: Suppress including captions in the output.
                            additionalProperties: false
                            description: Object describing the CC parameters for the targeted output.
                          track_selector:
                            type: object
                            additionalProperties: true
                            x-docs-hide: true
                          prefetch_hint_sec:
                            type: number
                            description: This determines how much to encode ahead of the current time during playback. It can be separately determined for the audio and video streams.
                          x264_options:
                            type: string
                            description: x.264 specific codec options - please reference https://ffmpeg.org/ffmpeg-codecs.html#toc-libx264_002c-libx264rgb
                          filters:
                            type: array
                            title: Video Filters
                            description: The array of video filters to be applied to the output.
                            items:
                              type: object
                              description: The video filter object with a specific kind and payload format.
                              required:
                              - kind
                              - payload
                              oneOf:
                              - $ref: '#/components/schemas/Filter_image_overlay'
                              - $ref: '#/components/schemas/Filter_video_overlay'
                              - $ref: '#/components/schemas/Filter_text_overlay'
                              discriminator:
                                propertyName: kind
                                mapping:
                                  image_overlay: '#/components/schemas/Filter_image_overlay'
                                  video_overlay: '#/components/schemas/Filter_video_overlay'
                                  text_overlay: '#/components/schemas/Filter_text_overlay'
                        additionalProperties: false
                        description: The video encoding parameters.
                      - type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: An ID for the video layer.
                            width:
                              type: integer
                              description: Width of the output video.
                            height:
                              type: integer
                              description: Height of the output video.
                            bitrate_kb:
                              type: integer
                              description: The video bitrate in kilobits per second. For vbr, this is the average bitrate.
                            frame_rate:
                              oneOf:
                              - type: string
                                pattern: ^\d+\.?,?\/?\d+$
                              - type: number
                              description: 'The video frame rate - can be expressed in decimal or fraction notation, examples: 29.97, 30000/1001'
                            codec:
                              enum:
                              - h264
                              - h265
                              description: The desired output video codec.
                            chroma_format:
                              type: string
                              description: The chroma format.
                            color_primaries:
                              enum:
                              - bt601
                              - smpte170m
                              - bt709
                              - bt470m
                              - bt470bg
                              - smpte240m
                              - film
                              - bt2020
                              - smpte428
                              - smpte431
                              - smpte432
                              - jedec-p22
                              description: Chroma coordinate reference of the source primaries. The default is determined by video size.
                            color_trc:
                              enum:
                              - bt601
                              - smpte170m
                              - bt709
                              - gamma22
                              - bt470m
                              - gamma28
                              - bt470bg
                              - smpte240m
                              - smpte428
                              - linear
                              - log
                              - log_sqrt
                              - bt1361
                              - smpte2084
                              - iec61966_2_1
                              - iec61966_2_4
                              - bt2020_10bit
                              - bt2020_12bit
                              - hlg
                              - arib-std-b67
                              description: Color transfer characteristics. The default determined by video size.
                            color_matrix:
                              enum:
                              - rgb
                              - bt470bg
                              - bt709
                              - smpte170m
                              - smpte240m
                              - ycgco
                              - bt2020c
                              - bt2020nc
                              - smpte2085
                              - chroma-derived-nc
                              - chroma-derived-c
                              - ictcp
                              - fcc
                              description: YUV/YCbCr colorspace type.
                            ire_range_mode:
                              enum:
                              - full
                              - limited
                              - auto
                              description: The IRE range for the source video. The default is auto.
                            range:
                              enum:
                              - sdr
                              - dolby_vision_5
                              - dolby_vision_8.1
                              - hdr10
                              description: The color range of the output video. The default is sdr.
                            sdr_enhancement:
                              type: object
                              properties:
                                mode:
                                  enum:
                                  - simple
                                  - lut_low
                                  - lut_med
                                  - lut_high
                                  default: lut_med
                                  description: The conversion stregth of the SDR to HDR conversion 3D LUT.
                                use_metadata_smoothing:
                                  type: boolean
                                  default: true
                                  description: Flag to smooth the HDR metadata between encoding segments.
                              additionalProperties: false
                              description: Object defining SDR to HDR enhancement controls.
                            abr_map:
                              type: object
                              properties:
                                hls_audio_group:
                                  type: string
                                  description: The HLS group that this layer belongs to.
                                compatibility_group:
                                  type: string
                                  description: The compatibility group that this layer belongs to.
                              additionalProperties: false
                              description: Object with parameters controlling HLS audio layer affinities.
                            dar:
                              oneOf:
                              - type: string
                                pattern: ^\d+\.?:?\/?\d+$
                              - type: number
                              description: 'The display aspect ratio. May expressed in decimal or fraction notation, examples: 1.33, 4/3'
                            sar:
                              oneOf:
                              - type: string
                                pattern: ^\d+\.?:?\/?\d+$
                              - type: number
                              description: The storage aspect ratio. May expressed in decimal or fraction notation. The storage aspect ratio, display aspect ratio, and pixel aspect ratio are related by DAR = SAR x PAR
                            force_original_aspect_ratio:
                              type: boolean
                              description: This will force the output to have the same aspect ratio as the input.
                            profile:
                              type: string
                              description: The profile for your codec. Not all profiles are valid for all codecs.
                            level:
                              type: string
                              description: The codec-dependent level - please reference ISO/IEC 14496-10, ISO/IEC 13818-2 etc.
                            preset:
                              type: string
                              description: Codec preset. See https://trac.ffmpeg.org/wiki/Encode/H.264 for examples.
                            max_bitrate_kb:
                              type: number
                              description: The maximum video bitrate in kilobits per second. Only valid for crf and vbr.
                            min_bitrate_kb:
                              type: number
                              description: The minimum video bitrate in kilobits per second. Only valid for crf and vbr.
                            vbv_buffer_size_kb:
                              type: number
                              description: The vbv buffer size in kilobits.
                            vbv_init_occupancy_kb:
                              type: number
                              description: The vbv init occupancy in kilobits.
                            exact_gop_frames:
                              type: integer
                              description: Use a fixed GOP size of this many frames.
                            idr_interval:
                              type: object
                              properties:
                                seconds:
                                  type: number
                                  description: Describes IDR frame interval in seconds.
                                frames:
                                  type: integer
                                  description: Describes IDR frame interval in frames.
                              additionalProperties: false
                              description: Describes a IDR frame interval, as count or seconds.
                            refs:
                              type: integer
                              description: The number of h.264 reference frames to used for future frames. If not set, the profile/level combination will determine the proper number of reference frames.
                            use_scene_detection:
                              type: boolean
                              description: Enable or disable scene change detection. Disabling will come with a steep penalty on video quality.
                            use_closed_gop:
                              type: boolean
                              description: Force use of closed GOPs.
                            bitrate_mode:
                              type: string
                              description: The bitrate mode for the codec. Values include cbr, vbr, and crf.
                            crf:
                              type: number
                              description: If the bitrate mode is crf, then this value must be specified. A Constant Rate Factor setting of 18 is considered excellent. Higher values equal lower quality. A change of +6 should roughly halve the resulting file size. See https://trac.ffmpeg.org/wiki/Encode/H.264
                            use_sequence_header_per_gop:
                              type: boolean
                              description: This will write a sequence header for each GOP.
                            closed_captions:
                              type: object
                              properties:
                                suppress:
                                  type: boolean
                                  enum:
                                  - true
                                  description: Suppress including captions in the output.
                              additionalProperties: false
                              description: Object describing the CC parameters for the targeted output.
                            track_selector:
                              type: object
                              additionalProperties: true
                              x-docs-hide: true
                            prefetch_hint_sec:
                              type: number
                              description: This determines how much to encode ahead of the current time during playback. It can be separately determined for the audio and video streams.
                            x264_options:
                              type: string
                              description: x.264 specific codec options - please reference https://ffmpeg.org/ffmpeg-codecs.html#toc-libx264_002c-libx264rgb
                            filters:
                              type: array
                              title: Video Filters
                              description: The array of video filters to be applied to the output.
                              items:
                                type: object
                                description: The video filter object with a specific kind and payload format.
                                required:
                                - kind
                                - payload
                                oneOf:
                                - $ref: '#/components/schemas/Filter_image_overlay'
                                - $ref: '#/components/schemas/Filter_video_overlay'
                                - $ref: '#/components/schemas/Filter_text_overlay'
                                discriminator:
                                  propertyName: kind
                                  mapping:
                                    image_overlay: '#/components/schemas/Filter_image_overlay'
                                    video_overlay: '#/components/schemas/Filter_video_overlay'
                                    text_overlay: '#/components/schemas/Filter_text_overlay'
                          additionalProperties: false
                          description: The video encoding parameters.
                    audio:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: ID of the audio track.
                          program_name:
                            type: string
                            description: Program name of the audio track.
                          codec:
                            enum:
                            - aac
                            - aac_lc
                            - he_aac1
                            - he_aac2
                            - ac4
                            - ddp_joc
                            description: The audio codec to use for the track.
                          bitrate_kb:
                            type: number
                            description: The audio bitrate in kilobits per second. This is the average bitrate in the case of vbr.
                          channels:
                            type: integer
                            description: The number of audio channels.
                          sample_rate:
                            type: integer
                            description: The audio sample rate in Hz. Typical values are 44100 and 48000. Omit to use the source sample rate.
                          auto_generate_silence_track:
                            type: boolean
                            description: 'This fills the track with silence. '
                          filters:
                            type: array
                            title: Audio Filters
                            description: The array of audio filters to be applied to the output.
                            items:
                              type: object
                              description: The audio filter object with a specific kind and payload format.
                              required:
                              - payload
                              oneOf:
                              - $ref: '#/components/schemas/Filter_normalize'
                              discriminator:
                                propertyName: kind
                                mapping:
                                  normalize: '#/components/schemas/Filter_normalize'
                          language:
                            type: string
                            description: The audio language code in ISO-639 notation.
                          track_selector:
                            type: object
                            additionalProperties: true
                            description: Allows the selection of specific source tracks as the source(s) for this audio track.
                            x-docs-hide: true
                          prefetch_hint_sec:
                            type: number
                            description: This determines how much to encode ahead of the current time during playback. It can be separately determined for the audio and video streams.
                          abr_map:
                            type: object
                            properties:
                              hls_audio_group:
                                type: string
                              is_hls_group_default:
                                type: boolean
                                default: false
                              content:
                                type: string
                              compatibility_group:
                                type: string
                            required:
                            - content
                            additionalProperties: false
                          ddp_joc_upmix_mode:
                            enum:
                            - remap
                            - upmix
                            default: upmix
                            description: When upconverting to Dolby Atmos, this specifies the type of upmixing for DD+JOC encoding.
                        additionalProperties: false
                        description: Each audio track is an element of the array.
                    subtitle:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          language:
                            type: string
                          program_name:
                            type: string
                          codec:
                            enum:
                            - webvtt
                            - stl
                          format_options:
                            type: object
                            properties:
                              sparse_vtt:
                                type: boolean
                            additionalProperties: false
                          track_selector:
                            type: object
                            additionalProperties: true
                        additionalProperties: false
                  additionalProperties: false
                  examples:
                  - encode_profile:
                      container:
                        kind: hls/fmp4
                        segment_duration_sec: 2
                      video:
                      - width: 1280
                        height: 720
                        codec: h264
                        profile: high
                        level: '3.1'
                        bitrate_mode: vbr
                        bitrate_kb: 2500
                        min_bitrate_kb: 2380
                        max_bitrate_kb: 2620
                        vbv_buffer_size_kb: 2650
                        frame_rate: 30000/1001
                      - width: 854
                        height: 480
                        codec: h264
                        profile: high
                        level: '3.1'
                        bitrate_mode: vbr
                        bitrate_kb: 1200
                        min_bitrate_kb: 1140
                        max_bitrate_kb: 1260
                        vbv_buffer_size_kb: 1260
                        frame_rate: 30000/1001
                      - width: 640
                        height: 360
                        codec: h264
                        profile: high
                        level: '3.0'
                        bitrate_mode: vbr
                        bitrate_kb: 600
                        min_bitrate_kb: 570
                        max_bitrate_kb: 630
                        vbv_buffer_size_kb: 630
                        frame_rate: 30000/1001
                      audio:
                      - codec: aac
                        bitrate_kb: 128
                        channels: 2
                        filters:
                        - kind: normalize
                          payload:
                            kind: ebur128
                            payload:
                              integrated_lufs: -23
              required:
              - type
              - encode_profile
              additionalProperties: false
        required:
        - output_templates
      - type: object
        properties:
          analyzers:
            type: array
            items:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - black_detection
                  - scene_detection
                  - silence_detection
                  - duplicate_frames_detection
                config:
                  type: object
              required:
              - type
              additionalProperties: false
      - type: object
        properties:
          options:
            allOf:
            - type: object
              properties:
                expiration:
                  type: string
                  description: Expiration time for the RUID in ISO 8601 format
            - type: object
              properties:
                render_waveforms:
                  type: boolean
                  default: true
                render_thumbnails:
                  type: boolean
                  default: true
                show_dolby_vision_metadata_markers:
                  type: boolean
                  default: true
                use_source_start_time_code:
                  type: boolean
                  default: false
                template_authentication_token:
                  type: string
                  description: Authentication token to be included in requests made by the player when fetching the template.
        unevaluatedProperties: false
      unevaluatedProperties: false
    hls_explicit_outputs:
      allOf:
      - type: object
        properties:
          name:
            type: string
            description: Pretty name for this asset
            x-apps:
            - core-api
          urls:
            type: array
            items:
              anyOf:
              - allOf:
                - type: object
                  properties:
                    url:
                      type: string
                      format: uri
                      description: URL of the media file
                    id:
                      type: string
                      description: Optional identifier for the URL
                    access:
                      oneOf:
                      - type: object
                        properties:
                          shared_key:
                            title: AWS Key
                            description: The AWS Key.
                            type:
                            - string
                            - 'null'
                            maxLength: 512
                          secret_key:
                            title: AWS Secret
                            description: The AWS Secret.
                            type:
                            - string
                            - 'null'
                            maxLength: 512
                          session_token:
                            title: AWS Session Token
                            description: The AWS Session Token.
                            type:
                            - string
                            - 'null'
                            maxLength: 2048
                          region:
                            title: AWS Region
                            description: The AWS region (optional).
                            type:
                            - string
                            - 'null'
                            maxLength: 512
                        required:
                        - shared_key
                        - secret_key
                        additionalProperties: false
                      - type: object
                        properties:
                          credentials_key:
                            type: string
                            description: Key to retrieve stored credentials for accessing the URL
                        required:
                        - credentials_key
                        additionalProperties: false
                  required:
                  - url
                - type: object
                  properties:
                    mime:
                      type: string
                  additionalProperties: true
              - type: string
          expiration:
            type: string
            description: Expiration time for the RUID in ISO 8601 format
        required:
        - urls
      - type: object
        properties:
          map:
            type: object
            properties:
              audio:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    url_id:
                      type: string
                    track_idx:
                      type: integer
                    channels:
                      type: array
                      items:
                        type: object
                  additionalProperties: false
              video:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    url_id:
                      type: string
                    track_idx:
                      type: integer
                    dolby_vision_metadata_url_id:
                      type: string
                  additionalProperties: false
              subtitle:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    url_id:
                      type: string
                    track_idx:
                      type: integer
                  additionalProperties: false
            additionalProperties: false
          outputs:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                encode_profile:
                  type: object
                  required:
                  - container
                  properties:
                    container:
                      type: object
                      required:
                      - kind
                      properties:
                        kind:
                          enum:
                          - hls
                          - hls/fmp4
                          - mpegts
                          - mpeg2ts
                          - mp4
                          - m4a
                          - fmp4
                          - m4s
                          - wav
                          - nut
                          description: The type of media container for the output.
                        use_editlist:
                          type: boolean
                          description: This sets the edit list atom (elst) in MP4 files. Read more here https://developer.apple.com/documentation/quicktime-file-format/edit_list_atom. The default is false.
                        mpegts_initial_discontinuity:
                          type: boolean
                          default: false
                        segment_duration_sec:
                          type: number
                          description: The segment duration in seconds for segmented or fragmented streams such as HLS or mp4/MPEG-DASH. Decimal notation (e.g. 5.5) is supported.
                        prefetch_hint_sec:
                          type: number
                          description: This determines how much to encode ahead of the current time during playback. It can be separately determined for the audio and video streams.
                      additionalProperties: false
                    video:
                      anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: An ID for the video layer.
                          width:
                            type: integer
                            description: Width of the output video.
                          height:
                            type: integer
                            description: Height of the output video.
                          bitrate_kb:
                            type: integer
                            description: The video bitrate in kilobits per second. For vbr, this is the average bitrate.
                          frame_rate:
                            oneOf:
                            - type: string
                              pattern: ^\d+\.?,?\/?\d+$
                            - type: number
                            description: 'The video frame rate - can be expressed in decimal or fraction notation, examples: 29.97, 30000/1001'
                          codec:
                            enum:
                            - h264
                            - h265
                            description: The desired output video codec.
                          chroma_format:
                            type: string
                            description: The chroma format.
                          color_primaries:
                            enum:
                            - bt601
                            - smpte170m
                            - bt709
                            - bt470m
                            - bt470bg
                            - smpte240m
                            - film
                            - bt2020
                            - smpte428
                            - smpte431
                            - smpte432
                            - jedec-p22
                            description: Chroma coordinate reference of the source primaries. The default is determined by video size.
                          color_trc:
                            enum:
                            - bt601
                            - smpte170m
                            - bt709
                            - gamma22
                            - bt470m
                            - gamma28
                            - bt470bg
                            - smpte240m
                            - smpte428
                            - linear
                            - log
                            - log_sqrt
                            - bt1361
                            - smpte2084
                            - iec61966_2_1
                            - iec61966_2_4
                            - bt2020_10bit
                            - bt2020_12bit
                            - hlg
                            - arib-std-b67
                            description: Color transfer characteristics. The default determined by video size.
                          color_matrix:
                            enum:
                            - rgb
                            - bt470bg
                            - bt709
                            - smpte170m
                            - smpte240m
                            - ycgco
                            - bt2020c
                            - bt2020nc
                            - smpte2085
                            - chroma-derived-nc
                            - chroma-derived-c
                            - ictcp
                            - fcc
                            description: YUV/YCbCr colorspace type.
                          ire_range_mode:
                            enum:
                            - full
                            - limited
                            - auto
                            description: The IRE range for the source video. The default is auto.
                          range:
                            enum:
                            - sdr
                            - dolby_vision_5
                            - dolby_vision_8.1
                            - hdr10
                            description: The color range of the output video. The default is sdr.
                          sdr_enhancement:
                            type: object
                            properties:
                              mode:
                                enum:
                                - simple
                                - lut_low
                                - lut_med
                                - lut_high
                                default: lut_med
                                description: The conversion stregth of the SDR to HDR conversion 3D LUT.
                              use_metadata_smoothing:
                                type: boolean
                                default: true
                                description: Flag to smooth the HDR metadata between encoding segments.
                            additionalProperties: false
                            description: Object defining SDR to HDR enhancement controls.
                          abr_map:
                            type: object
                            properties:
                              hls_audio_group:
                                type: string
                                description: The HLS group that this layer belongs to.
                              compatibility_group:
                                type: string
                                description: The compatibility group that this layer belongs to.
                            additionalProperties: false
                            description: Object with parameters controlling HLS audio layer affinities.
                          dar:
                            oneOf:
                            - type: string
                              pattern: ^\d+\.?:?\/?\d+$
                            - type: number
                            description: 'The display aspect ratio. May expressed in decimal or fraction notation, examples: 1.33, 4/3'
                          sar:
                            oneOf:
                            - type: string
                              pattern: ^\d+\.?:?\/?\d+$
                            - type: number
                            description: The storage aspect ratio. May expressed in decimal or fraction notation. The storage aspect ratio, display aspect ratio, and pixel aspect ratio are related by DAR = SAR x PAR
                          force_original_aspect_ratio:
                            type: boolean
                            description: This will force the output to have the same aspect ratio as the input.
                          profile:
                            type: string
                            description: The profile for your codec. Not all profiles are valid for all codecs.
                          level:
                            type: string
                            description: The codec-dependent level - please reference ISO/IEC 14496-10, ISO/IEC 13818-2 etc.
                          preset:
                            type: string
                            description: Codec preset. See https://trac.ffmpeg.org/wiki/Encode/H.264 for examples.
                          max_bitrate_kb:
                            type: number
                            description: The maximum video bitrate in kilobits per second. Only valid for crf and vbr.
                          min_bitrate_kb:
                            type: number
                            description: The minimum video bitrate in kilobits per second. Only valid for crf and vbr.
                          vbv_buffer_size_kb:
                            type: number
                            description: The vbv buffer size in kilobits.
                          vbv_init_occupancy_kb:
                            type: number
                            description: The vbv init occupancy in kilobits.
                          exact_gop_frames:
                            type: integer
                            description: Use a fixed GOP size of this many frames.
                          idr_interval:
                            type: object
                            properties:
                              seconds:
                                type: number
                                description: Describes IDR frame interval in seconds.
                              frames:
                                type: integer
                                description: Describes IDR frame interval in frames.
                            additionalProperties: false
                            description: Describes a IDR frame interval, as count or seconds.
                          refs:
                            type: integer
                            description: The number of h.264 reference frames to used for future frames. If not set, the profile/level combination will determine the proper number of reference frames.
                          use_scene_detection:
                            type: boolean
                            description: Enable or disable scene change detection. Disabling will come with a steep penalty on video quality.
                          use_closed_gop:
                            type: boolean
                            description: Force use of closed GOPs.
                          bitrate_mode:
                            type: string
                            description: The bitrate mode for the codec. Values include cbr, vbr, and crf.
                          crf:
                            type: number
                            description: If the bitrate mode is crf, then this value must be specified. A Constant Rate Factor setting of 18 is considered excellent. Higher values equal lower quality. A change of +6 should roughly halve the resulting file size. See https://trac.ffmpeg.org/wiki/Encode/H.264
                          use_sequence_header_per_gop:
                            type: boolean
                            description: This will write a sequence header for each GOP.
                          closed_captions:
                            type: object
                            properties:
                              suppress:
                                type: boolean
                                enum:
                                - true
                                description: Suppress including captions in the output.
                            additionalProperties: false
                            description: Object describing the CC parameters for the targeted output.
                          track_selector:
                            type: object
                            additionalProperties: true
                            x-docs-hide: true
                          prefetch_hint_sec:
                            type: number
                            description: This determines how much to encode ahead of the current time during playback. It can be separately determined for the audio and video streams.
                          x264_options:
                            type: string
                            description: x.264 specific codec options - please reference https://ffmpeg.org/ffmpeg-codecs.html#toc-libx264_002c-libx264rgb
                          filters:
                            type: array
                            title: Video Filters
                            description: The array of video filters to be applied to the output.
                            items:
                              type: object
                              description: The video filter object with a specific kind and payload format.
                              required:
                              - kind
                              - payload
                              oneOf:
                              - $ref: '#/components/schemas/Filter_image_overlay'
                              - $ref: '#/components/schemas/Filter_video_overlay'
                              - $ref: '#/components/schemas/Filter_text_overlay'
                              discriminator:
                                propertyName: kind
                                mapping:
                                  image_overlay: '#/components/schemas/Filter_image_overlay'
                                  video_overlay: '#/components/schemas/Filter_video_overlay'
                                  text_overlay: '#/components/schemas/Filter_text_overlay'
                        additionalProperties: false
                        description: The video encoding parameters.
                      - type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: An ID for the video layer.
                            width:
                              type: integer
                              description: Width of the output video.
                            height:
                              type: integer
                              description: Height of the output video.
                            bitrate_kb:
                              type: integer
                              description: The video bitrate in kilobits per second. For vbr, this is the average bitrate.
                            frame_rate:
                              oneOf:
                              - type: string
                                pattern: ^\d+\.?,?\/?\d+$
                              - type: number
                              description: 'The video frame rate - can be expressed in decimal or fraction notation, examples: 29.97, 30000/1001'
                            codec:
                              enum:
                              - h264
                              - h265
                              description: The desired output video codec.
                            chroma_format:
                              type: string
                              description: The chroma format.
                            color_primaries:
                              enum:
                              - bt601
                              - smpte170m
                              - bt709
                              - bt470m
                              - bt470bg
                              - smpte240m
                              - film
                              - bt2020
                              - smpte428
                              - smpte431
                              - smpte432
                              - jedec-p22
                              description: Chroma coordinate reference of the source primaries. The default is determined by video size.
                            color_trc:
                              enum:
                              - bt601
                              - smpte170m
                              - bt709
                              - gamma22
                              - bt470m
                              - gamma28
                              - bt470bg
                              - smpte240m
                              - smpte428
                              - linear
                              - log
                              - log_sqrt
                              - bt1361
                              - smpte2084
                              - iec61966_2_1
                              - iec61966_2_4
                              - bt2020_10bit
                              - bt2020_12bit
                              - hlg
                              - arib-std-b67
                              description: Color transfer characteristics. The default determined by video size.
                            color_matrix:
                              enum:
                              - rgb
                              - bt470bg
                              - bt709
                              - smpte170m
                              - smpte240m
                              - ycgco
                              - bt2020c
                              - bt2020nc
                              - smpte2085
                              - chroma-derived-nc
                              - chroma-derived-c
                              - ictcp
                              - fcc
                              description: YUV/YCbCr colorspace type.
                            ire_range_mode:
                              enum:
                              - full
                              - limited
                              - auto
                              description: The IRE range for the source video. The default is auto.
                            range:
                              enum:
                              - sdr
                              - dolby_vision_5
                              - dolby_vision_8.1
                              - hdr10
                              description: The color range of the output video. The default is sdr.
                            sdr_enhancement:
                              type: object
                              properties:
                                mode:
                                  enum:
                                  - simple
                                  - lut_low
                                  - lut_med
                                  - lut_high
                                  default: lut_med
                                  description: The conversion stregth of the SDR to HDR conversion 3D LUT.
                                use_metadata_smoothing:
                                  type: boolean
                                  default: true
                                  description: Flag to smooth the HDR metadata between encoding segments.
                              additionalProperties: false
                              description: Object defining SDR to HDR enhancement controls.
                            abr_map:
                              type: object
                              properties:
                                hls_audio_group:
                                  type: string
                                  description: The HLS group that this layer belongs to.
                                compatibility_group:
                                  type: string
                                  description: The compatibility group that this layer belongs to.
                              additionalProperties: false
                              description: Object with parameters controlling HLS audio layer affinities.
                            dar:
                              oneOf:
                              - type: string
                                pattern: ^\d+\.?:?\/?\d+$
                              - type: number
                              description: 'The display aspect ratio. May expressed in decimal or fraction notation, examples: 1.33, 4/3'
                            sar:
                              oneOf:
                              - type: string
                                pattern: ^\d+\.?:?\/?\d+$
                              - type: number
                              description: The storage aspect ratio. May expressed in decimal or fraction notation. The storage aspect ratio, display aspect ratio, and pixel aspect ratio are related by DAR = SAR x PAR
                            force_original_aspect_ratio:
                              type: boolean
                              description: This will force the output to have the same aspect ratio as the input.
                            profile:
                              type: string
                              description: The profile for your codec. Not all profiles are valid for all codecs.
                            level:
                              type: string
                              description: The codec-dependent level - please reference ISO/IEC 14496-10, ISO/IEC 13818-2 etc.
                            preset:
                              type: string
                              description: Codec preset. See https://trac.ffmpeg.org/wiki/Encode/H.264 for examples.
                            max_bitrate_kb:
                              type: number
                              description: The maximum video bitrate in kilobits per second. Only valid for crf and vbr.
                            min_bitrate_kb:
                              type: number
                              description: The minimum video bitrate in kilobits per second. Only valid for crf and vbr.
                            vbv_buffer_size_kb:
                              type: number
                              description: The vbv buffer size in kilobits.
                            vbv_init_occupancy_kb:
                              type: number
                              description: The vbv init occupancy in kilobits.
                            exact_gop_frames:
                              type: integer
                              description: Use a fixed GOP size of this many frames.
                            idr_interval:
                              type: object
                              properties:
                                seconds:
                                  type: number
                                  description: Describes IDR frame interval in seconds.
                                frames:
                                  type: integer
                                  description: Describes IDR frame interval in frames.
                              additionalProperties: false
                              description: Describes a IDR frame interval, as count or seconds.
                            refs:
                              type: integer
                              description: The number of h.264 reference frames to used for future frames. If not set, the profile/level combination will determine the proper number of reference frames.
                            use_scene_detection:
                              type: boolean
                              description: Enable or disable scene change detection. Disabling will come with a steep penalty on video quality.
                            use_closed_gop:
                              type: boolean
                              description: Force use of closed GOPs.
                            bitrate_mode:
                              type: string
                              description: The bitrate mode for the codec. Values include cbr, vbr, and crf.
                            crf:
                              type: number
                              description: If the bitrate mode is crf, then this value must be specified. A Constant Rate Factor setting of 18 is considered excellent. Higher values equal lower quality. A change of +6 should roughly halve the resulting file size. See https://trac.ffmpeg.org/wiki/Encode/H.264
                            use_sequence_header_per_gop:
                              type: boolean
                              description: This will write a sequence header for each GOP.
                            closed_captions:
                              type: object
                              properties:
                                suppress:
                                  type: boolean
                                  enum:
                                  - true
                                  description: Suppress including captions in the output.
                              additionalProperties: false
                              description: Object describing the CC parameters for the targeted output.
                            track_selector:
                              type: object
                              additionalProperties: true
                              x-docs-hide: true
                            prefetch_hint_sec:
                              type: number
                              description: This determines how much to encode ahead of the current time during playback. It can be separately determined for the audio and video streams.
                            x264_options:
                              type: string
                              description: x.264 specific codec options - please reference https://ffmpeg.org/ffmpeg-codecs.html#toc-libx264_002c-libx264rgb
                            filters:
                              type: array
                              title: Video Filters
                              description: The array of video filters to be applied to the output.
                              items:
                                type: object
                                description: The video filter object with a specific kind and payload format.
                                required:
                                - kind
                                - payload
                                oneOf:
                                - $ref: '#/components/schemas/Filter_image_overlay'
                                - $ref: '#/components/schemas/Filter_video_overlay'
                                - $ref: '#/components/schemas/Filter_text_overlay'
                                discriminator:
                                  propertyName: kind
                                  mapping:
                                    image_overlay: '#/components/schemas/Filter_image_overlay'
                                    video_overlay: '#/components/schemas/Filter_video_overlay'
                                    text_overlay: '#/components/schemas/Filter_text_overlay'
                          additionalProperties: false
                          description: The video encoding parameters.
                    audio:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: ID of the audio track.
                          program_name:
                            type: string
                            description: Program name of the audio track.
                          codec:
                            enum:
                            - aac
                            - aac_lc
                            - he_aac1
                            - he_aac2
                            - ac4
                            - ddp_joc
                            description: The audio codec to use for the track.
                          bitrate_kb:
                            type: number
                            description: The audio bitrate in kilobits per second. This is the average bitrate in the case of vbr.
                          channels:
                            type: integer
                            description: The number of audio channels.
                          sample_rate:
                            type: integer
                            description: The audio sample rate in Hz. Typical values are 44100 and 48000. Omit to use the source sample rate.
                          auto_generate_silence_track:
                            type: boolean
                            description: 'This fills the track with silence. '
                          filters:
                            type: array
                            title: Audio Filters
                            description: The array of audio filters to be applied to the output.
                            items:
                              type: object
                              description: The audio filter object with a specific kind and payload format.
                              required:
                              - payload
                              oneOf:
                              - $ref: '#/components/schemas/Filter_normalize'
                              discriminator:
                                propertyName: kind
                                mapping:
                                  normalize: '#/components/schemas/Filter_normalize'
                          language:
                            type: string
                            description: The audio language code in ISO-639 notation.
                          track_selector:
                            type: object
                            additionalProperties: true
                            description: Allows the selection of specific source tracks as the source(s) for this audio track.
                            x-docs-hide: true
                          prefetch_hint_sec:
                            type: number
                            description: This determines how much to encode ahead of the current time during playback. It can be separately determined for the audio and video streams.
                          abr_map:
                            type: object
                            properties:
                              hls_audio_group:
                                type: string
                              is_hls_group_default:
                                type: boolean
                                default: false
                              content:
                                type: string
                              compatibility_group:
                                type: string
                            required:
                            - content
                            additionalProperties: false
                          ddp_joc_upmix_mode:
                            enum:
                            - remap
                            - upmix
                            default: upmix
                            description: When upconverting to Dolby Atmos, this specifies the type of upmixing for DD+JOC encoding.
                        additionalProperties: false
                        description: Each audio track is an element of the array.
                    subtitle:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          language:
                            type: string
                          program_name:
                            type: string
                          codec:
                            enum:
                            - webvtt
                            - stl
                          format_options:
                            type: object
                            properties:
                              sparse_vtt:
                                type: boolean
                            additionalProperties: false
                          track_selector:
                            type: object
                            additionalProperties: true
                        additionalProperties: false
                  additionalProperties: false
                  examples:
                  - encode_profile:
                      container:
                        kind: hls/fmp4
                        segment_duration_sec: 2
                      video:
                      - width: 1280
                        height: 720
                        codec: h264
                        profile: high
                        level: '3.1'
                        bitrate_mode: vbr
                        bitrate_kb: 2500
                        min_bitrate_kb: 2380
                        max_bitrate_kb: 2620
                        vbv_buffer_size_kb: 2650
                        frame_rate: 30000/1001
                      - width: 854
                        height: 480
                        codec: h264
                        profile: high
                        level: '3.1'
                        bitrate_mode: vbr
                        bitrate_kb: 1200
[...]
