openapi: 3.2.0
info:
  title: Dolby Channels API
  version: '1.0'
  description: 'Operations tagged Channels across 2 of this provider''s published API definitions: dolby-optiview-ads-openapi-original.json, dolby-optiview-live-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.theo.live/v2
  description: V2 API
- url: https://api.theo.live
  description: Base (for /v1 endpoints)
tags:
- name: Channels
paths:
  /api/v1/channels:
    get:
      description: List all channels with pagination, filtering, and sorting.
      parameters:
      - schema:
          default: 1
          type: integer
          minimum: 1
          maximum: 9007199254740991
        in: query
        name: page
        required: false
        description: Page number to return. The first page is 1.
      - schema:
          default: 20
          type: integer
          minimum: 1
          maximum: 100
        in: query
        name: pageSize
        required: false
        description: Number of items to return per page, between 1 and 100.
      - schema:
          type: string
        in: query
        name: filter
        required: false
        description: Optional RSQL filter expression (for example `status==READY;duration=gt=30`). Each resource exposes its own allow-list of filterable fields and operators.
      - schema:
          type: string
        in: query
        name: sort
        required: false
        description: Optional comma-separated list of fields to sort by; prefix a field with `-` for descending order. Defaults to newest first (createdAt descending).
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique channel identifier.
                        name:
                          description: Human-readable display name for the channel.
                          type: string
                        timebase:
                          type: string
                          enum:
                          - wallclock
                          - pts
                          - mediatime
                          description: 'Time reference used for scheduling breaks on a channel: `wallclock` (ISO 8601 datetime), `pts` (numeric presentation timestamp) or `mediatime` (seconds from the start of the asset; VOD channels only).'
                        dvrWindowMs:
                          description: DVR (rewind) window in milliseconds, controlling how far back the platform looks for breaks to deliver to players. Defaults to 300000 (5 minutes) when not set.
                          type: integer
                          maximum: 9007199254740991
                        adPrefetchMs:
                          description: Ad prefetch window in milliseconds, controlling how far ahead of a break start time the break is delivered to the player. Defaults to 10000 (10 seconds) when not set.
                          type: integer
                          maximum: 9007199254740991
                        liveOffsetMs:
                          description: 'Live latency offset in milliseconds: how far the player live playhead trails real time on this channel. Break start times are evaluated against now minus this offset. Defaults to 0 (no offset).'
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        customAssetKey:
                          description: Google Ad Manager (GAM) custom asset key used for the server-guided (SGAI) path. Required for vendor pod breaks. Non-empty when provided; to remove it, delete the SGAI channel integration instead.
                          type: string
                          minLength: 1
                        pollingIdleSeconds:
                          description: Break manifest polling interval in seconds advertised to players when no break is active. Defaults to 10 when not set.
                          type: integer
                          maximum: 9007199254740991
                        pollingActiveSeconds:
                          description: Break manifest polling interval in seconds advertised to players during an active break. Defaults to 1 when not set.
                          type: integer
                          maximum: 9007199254740991
                        adStartDelay:
                          description: Delay in seconds of played media time before any break may start, emitted at the top level of the break manifest. Enforced player-side. Omitted means 0 (no delay).
                          type: number
                          minimum: 0
                        delivery:
                          minItems: 1
                          type: array
                          items:
                            type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                - sgai
                                - ssai
                                description: 'Ad insertion architecture the player should use: `sgai` or `ssai`.'
                              targeting:
                                description: Player-side match criteria for this rule. The player uses the mode of the first rule whose targeting matches the current platform; a rule without targeting acts as the default.
                                type: object
                                properties:
                                  deviceType:
                                    description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                                    type: string
                                    enum:
                                    - desktop
                                    - tablet
                                    - mobile
                                    - tv
                                additionalProperties: false
                            required:
                            - mode
                            additionalProperties: false
                          description: Ordered delivery steering rules emitted in the break manifest. The player uses the mode (`sgai` or `ssai`) of the first rule whose targeting matches its device type; a rule without targeting acts as the default. Non-empty when provided; when omitted the player defaults to `sgai`.
                        detectionEnabled:
                          type: boolean
                          description: Whether automatic break detection runs for this channel. Read-only on create and update; toggle it via the detection enable/disable endpoints. Defaults to false.
                        createdAt:
                          type: string
                          description: Timestamp when the channel was created, as an ISO 8601 datetime string.
                      required:
                      - id
                      - timebase
                      - detectionEnabled
                      - createdAt
                      additionalProperties: false
                    description: The page of results.
                  pagination:
                    type: object
                    properties:
                      page:
                        type: number
                        description: Page number of this result set. The first page is 1.
                      pageSize:
                        type: number
                        description: Number of items requested per page.
                      total:
                        type: number
                        description: Total number of items matching the query across all pages.
                      totalPages:
                        type: number
                        description: Total number of pages available for the query.
                    required:
                    - page
                    - pageSize
                    - total
                    - totalPages
                    additionalProperties: false
                    description: Pagination metadata for the result set.
                required:
                - data
                - pagination
                additionalProperties: false
      tags:
      - Channels
      security:
      - basicAuth: []
        orgId: []
      summary: Get api channels
      x-summary-source: derived
      operationId: getApiV1Channels
      x-operation-id-source: derived
    post:
      description: Create a new channel.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Unique channel identifier. Provided by the customer or auto-generated when omitted.
                  type: string
                  minLength: 1
                name:
                  description: Human-readable display name for the channel.
                  type: string
                timebase:
                  type: string
                  enum:
                  - wallclock
                  - pts
                  description: 'Time reference used for scheduling breaks on the channel: `wallclock` (ISO 8601 datetime) or `pts` (numeric presentation timestamp). `mediatime` is only valid for VOD channels.'
                dvrWindowMs:
                  description: DVR (rewind) window in milliseconds, controlling how far back the platform looks for breaks to deliver to players. Defaults to 300000 (5 minutes) when not set.
                  type: integer
                  maximum: 9007199254740991
                adPrefetchMs:
                  description: Ad prefetch window in milliseconds, controlling how far ahead of a break start time the break is delivered to the player. Defaults to 10000 (10 seconds) when not set.
                  type: integer
                  maximum: 9007199254740991
                liveOffsetMs:
                  description: 'Live latency offset in milliseconds: how far the player live playhead trails real time on this channel. Break start times are evaluated against now minus this offset. Defaults to 0 (no offset).'
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                customAssetKey:
                  description: Google Ad Manager (GAM) custom asset key used for the server-guided (SGAI) path. Required for vendor pod breaks. Non-empty when provided; to remove it, delete the SGAI channel integration instead.
                  type: string
                  minLength: 1
                pollingIdleSeconds:
                  description: Break manifest polling interval in seconds advertised to players when no break is active. Defaults to 10 when not set.
                  type: integer
                  maximum: 9007199254740991
                pollingActiveSeconds:
                  description: Break manifest polling interval in seconds advertised to players during an active break. Defaults to 1 when not set.
                  type: integer
                  maximum: 9007199254740991
                adStartDelay:
                  description: Delay in seconds of played media time before any break may start, emitted at the top level of the break manifest. Enforced player-side. Omitted means 0 (no delay).
                  type: number
                  minimum: 0
                delivery:
                  minItems: 1
                  type: array
                  items:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                        - sgai
                        - ssai
                        description: 'Ad insertion architecture the player should use: `sgai` or `ssai`.'
                      targeting:
                        description: Player-side match criteria for this rule. The player uses the mode of the first rule whose targeting matches the current platform; a rule without targeting acts as the default.
                        type: object
                        properties:
                          deviceType:
                            description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                            type: string
                            enum:
                            - desktop
                            - tablet
                            - mobile
                            - tv
                    required:
                    - mode
                  description: Ordered delivery steering rules emitted in the break manifest. The player uses the mode (`sgai` or `ssai`) of the first rule whose targeting matches its device type; a rule without targeting acts as the default. Non-empty when provided; when omitted the player defaults to `sgai`.
              required:
              - timebase
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique channel identifier.
                  name:
                    description: Human-readable display name for the channel.
                    type: string
                  timebase:
                    type: string
                    enum:
                    - wallclock
                    - pts
                    - mediatime
                    description: 'Time reference used for scheduling breaks on a channel: `wallclock` (ISO 8601 datetime), `pts` (numeric presentation timestamp) or `mediatime` (seconds from the start of the asset; VOD channels only).'
                  dvrWindowMs:
                    description: DVR (rewind) window in milliseconds, controlling how far back the platform looks for breaks to deliver to players. Defaults to 300000 (5 minutes) when not set.
                    type: integer
                    maximum: 9007199254740991
                  adPrefetchMs:
                    description: Ad prefetch window in milliseconds, controlling how far ahead of a break start time the break is delivered to the player. Defaults to 10000 (10 seconds) when not set.
                    type: integer
                    maximum: 9007199254740991
                  liveOffsetMs:
                    description: 'Live latency offset in milliseconds: how far the player live playhead trails real time on this channel. Break start times are evaluated against now minus this offset. Defaults to 0 (no offset).'
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  customAssetKey:
                    description: Google Ad Manager (GAM) custom asset key used for the server-guided (SGAI) path. Required for vendor pod breaks. Non-empty when provided; to remove it, delete the SGAI channel integration instead.
                    type: string
                    minLength: 1
                  pollingIdleSeconds:
                    description: Break manifest polling interval in seconds advertised to players when no break is active. Defaults to 10 when not set.
                    type: integer
                    maximum: 9007199254740991
                  pollingActiveSeconds:
                    description: Break manifest polling interval in seconds advertised to players during an active break. Defaults to 1 when not set.
                    type: integer
                    maximum: 9007199254740991
                  adStartDelay:
                    description: Delay in seconds of played media time before any break may start, emitted at the top level of the break manifest. Enforced player-side. Omitted means 0 (no delay).
                    type: number
                    minimum: 0
                  delivery:
                    minItems: 1
                    type: array
                    items:
                      type: object
                      properties:
                        mode:
                          type: string
                          enum:
                          - sgai
                          - ssai
                          description: 'Ad insertion architecture the player should use: `sgai` or `ssai`.'
                        targeting:
                          description: Player-side match criteria for this rule. The player uses the mode of the first rule whose targeting matches the current platform; a rule without targeting acts as the default.
                          type: object
                          properties:
                            deviceType:
                              description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                              type: string
                              enum:
                              - desktop
                              - tablet
                              - mobile
                              - tv
                          additionalProperties: false
                      required:
                      - mode
                      additionalProperties: false
                    description: Ordered delivery steering rules emitted in the break manifest. The player uses the mode (`sgai` or `ssai`) of the first rule whose targeting matches its device type; a rule without targeting acts as the default. Non-empty when provided; when omitted the player defaults to `sgai`.
                  detectionEnabled:
                    type: boolean
                    description: Whether automatic break detection runs for this channel. Read-only on create and update; toggle it via the detection enable/disable endpoints. Defaults to false.
                  createdAt:
                    type: string
                    description: Timestamp when the channel was created, as an ISO 8601 datetime string.
                required:
                - id
                - timebase
                - detectionEnabled
                - createdAt
                additionalProperties: false
      tags:
      - Channels
      security:
      - basicAuth: []
        orgId: []
      summary: Create api channels
      x-summary-source: derived
      operationId: postApiV1Channels
      x-operation-id-source: derived
  /api/v1/channels/{channelId}:
    get:
      description: Get a channel by ID.
      parameters:
      - schema:
          type: string
        in: path
        name: channelId
        required: true
        description: Identifier of the channel.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique channel identifier.
                  name:
                    description: Human-readable display name for the channel.
                    type: string
                  timebase:
                    type: string
                    enum:
                    - wallclock
                    - pts
                    - mediatime
                    description: 'Time reference used for scheduling breaks on a channel: `wallclock` (ISO 8601 datetime), `pts` (numeric presentation timestamp) or `mediatime` (seconds from the start of the asset; VOD channels only).'
                  dvrWindowMs:
                    description: DVR (rewind) window in milliseconds, controlling how far back the platform looks for breaks to deliver to players. Defaults to 300000 (5 minutes) when not set.
                    type: integer
                    maximum: 9007199254740991
                  adPrefetchMs:
                    description: Ad prefetch window in milliseconds, controlling how far ahead of a break start time the break is delivered to the player. Defaults to 10000 (10 seconds) when not set.
                    type: integer
                    maximum: 9007199254740991
                  liveOffsetMs:
                    description: 'Live latency offset in milliseconds: how far the player live playhead trails real time on this channel. Break start times are evaluated against now minus this offset. Defaults to 0 (no offset).'
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  customAssetKey:
                    description: Google Ad Manager (GAM) custom asset key used for the server-guided (SGAI) path. Required for vendor pod breaks. Non-empty when provided; to remove it, delete the SGAI channel integration instead.
                    type: string
                    minLength: 1
                  pollingIdleSeconds:
                    description: Break manifest polling interval in seconds advertised to players when no break is active. Defaults to 10 when not set.
                    type: integer
                    maximum: 9007199254740991
                  pollingActiveSeconds:
                    description: Break manifest polling interval in seconds advertised to players during an active break. Defaults to 1 when not set.
                    type: integer
                    maximum: 9007199254740991
                  adStartDelay:
                    description: Delay in seconds of played media time before any break may start, emitted at the top level of the break manifest. Enforced player-side. Omitted means 0 (no delay).
                    type: number
                    minimum: 0
                  delivery:
                    minItems: 1
                    type: array
                    items:
                      type: object
                      properties:
                        mode:
                          type: string
                          enum:
                          - sgai
                          - ssai
                          description: 'Ad insertion architecture the player should use: `sgai` or `ssai`.'
                        targeting:
                          description: Player-side match criteria for this rule. The player uses the mode of the first rule whose targeting matches the current platform; a rule without targeting acts as the default.
                          type: object
                          properties:
                            deviceType:
                              description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                              type: string
                              enum:
                              - desktop
                              - tablet
                              - mobile
                              - tv
                          additionalProperties: false
                      required:
                      - mode
                      additionalProperties: false
                    description: Ordered delivery steering rules emitted in the break manifest. The player uses the mode (`sgai` or `ssai`) of the first rule whose targeting matches its device type; a rule without targeting acts as the default. Non-empty when provided; when omitted the player defaults to `sgai`.
                  detectionEnabled:
                    type: boolean
                    description: Whether automatic break detection runs for this channel. Read-only on create and update; toggle it via the detection enable/disable endpoints. Defaults to false.
                  createdAt:
                    type: string
                    description: Timestamp when the channel was created, as an ISO 8601 datetime string.
                required:
                - id
                - timebase
                - detectionEnabled
                - createdAt
                additionalProperties: false
      tags:
      - Channels
      security:
      - basicAuth: []
        orgId: []
      summary: Get api channels by channel id
      x-summary-source: derived
      operationId: getApiV1ChannelsByChannelId
      x-operation-id-source: derived
    patch:
      description: Update a channel.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Human-readable display name for the channel.
                  type: string
                timebase:
                  type: string
                  enum:
                  - wallclock
                  - pts
                  description: 'Time reference used for scheduling breaks on the channel: `wallclock` (ISO 8601 datetime) or `pts` (numeric presentation timestamp). `mediatime` is only valid for VOD channels.'
                dvrWindowMs:
                  description: DVR (rewind) window in milliseconds, controlling how far back the platform looks for breaks to deliver to players. Defaults to 300000 (5 minutes) when not set.
                  type: integer
                  maximum: 9007199254740991
                adPrefetchMs:
                  description: Ad prefetch window in milliseconds, controlling how far ahead of a break start time the break is delivered to the player. Defaults to 10000 (10 seconds) when not set.
                  type: integer
                  maximum: 9007199254740991
                liveOffsetMs:
                  description: 'Live latency offset in milliseconds: how far the player live playhead trails real time on this channel. Break start times are evaluated against now minus this offset. Defaults to 0 (no offset).'
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                customAssetKey:
                  description: Google Ad Manager (GAM) custom asset key used for the server-guided (SGAI) path. Required for vendor pod breaks. Non-empty when provided; to remove it, delete the SGAI channel integration instead.
                  type: string
                  minLength: 1
                pollingIdleSeconds:
                  description: Break manifest polling interval in seconds advertised to players when no break is active. Defaults to 10 when not set.
                  type: integer
                  maximum: 9007199254740991
                pollingActiveSeconds:
                  description: Break manifest polling interval in seconds advertised to players during an active break. Defaults to 1 when not set.
                  type: integer
                  maximum: 9007199254740991
                adStartDelay:
                  description: Delay in seconds of played media time before any break may start, emitted at the top level of the break manifest. Enforced player-side. Omitted means 0 (no delay).
                  type: number
                  minimum: 0
                delivery:
                  minItems: 1
                  type:
                  - array
                  - 'null'
                  items:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                        - sgai
                        - ssai
                        description: 'Ad insertion architecture the player should use: `sgai` or `ssai`.'
                      targeting:
                        description: Player-side match criteria for this rule. The player uses the mode of the first rule whose targeting matches the current platform; a rule without targeting acts as the default.
                        type: object
                        properties:
                          deviceType:
                            description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                            type: string
                            enum:
                            - desktop
                            - tablet
                            - mobile
                            - tv
                    required:
                    - mode
                  description: Ordered delivery steering rules emitted in the break manifest. The player uses the mode (`sgai` or `ssai`) of the first rule whose targeting matches its device type; a rule without targeting acts as the default. Non-empty when provided; when omitted the player defaults to `sgai`.
      parameters:
      - schema:
          type: string
        in: path
        name: channelId
        required: true
        description: Identifier of the channel.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique channel identifier.
                  name:
                    description: Human-readable display name for the channel.
                    type: string
                  timebase:
                    type: string
                    enum:
                    - wallclock
                    - pts
                    - mediatime
                    description: 'Time reference used for scheduling breaks on a channel: `wallclock` (ISO 8601 datetime), `pts` (numeric presentation timestamp) or `mediatime` (seconds from the start of the asset; VOD channels only).'
                  dvrWindowMs:
                    description: DVR (rewind) window in milliseconds, controlling how far back the platform looks for breaks to deliver to players. Defaults to 300000 (5 minutes) when not set.
                    type: integer
                    maximum: 9007199254740991
                  adPrefetchMs:
                    description: Ad prefetch window in milliseconds, controlling how far ahead of a break start time the break is delivered to the player. Defaults to 10000 (10 seconds) when not set.
                    type: integer
                    maximum: 9007199254740991
                  liveOffsetMs:
                    description: 'Live latency offset in milliseconds: how far the player live playhead trails real time on this channel. Break start times are evaluated against now minus this offset. Defaults to 0 (no offset).'
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  customAssetKey:
                    description: Google Ad Manager (GAM) custom asset key used for the server-guided (SGAI) path. Required for vendor pod breaks. Non-empty when provided; to remove it, delete the SGAI channel integration instead.
                    type: string
                    minLength: 1
                  pollingIdleSeconds:
                    description: Break manifest polling interval in seconds advertised to players when no break is active. Defaults to 10 when not set.
                    type: integer
                    maximum: 9007199254740991
                  pollingActiveSeconds:
                    description: Break manifest polling interval in seconds advertised to players during an active break. Defaults to 1 when not set.
                    type: integer
                    maximum: 9007199254740991
                  adStartDelay:
                    description: Delay in seconds of played media time before any break may start, emitted at the top level of the break manifest. Enforced player-side. Omitted means 0 (no delay).
                    type: number
                    minimum: 0
                  delivery:
                    minItems: 1
                    type: array
                    items:
                      type: object
                      properties:
                        mode:
                          type: string
                          enum:
                          - sgai
                          - ssai
                          description: 'Ad insertion architecture the player should use: `sgai` or `ssai`.'
                        targeting:
                          description: Player-side match criteria for this rule. The player uses the mode of the first rule whose targeting matches the current platform; a rule without targeting acts as the default.
                          type: object
                          properties:
                            deviceType:
                              description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                              type: string
                              enum:
                              - desktop
                              - tablet
                              - mobile
                              - tv
                          additionalProperties: false
                      required:
                      - mode
                      additionalProperties: false
                    description: Ordered delivery steering rules emitted in the break manifest. The player uses the mode (`sgai` or `ssai`) of the first rule whose targeting matches its device type; a rule without targeting acts as the default. Non-empty when provided; when omitted the player defaults to `sgai`.
                  detectionEnabled:
                    type: boolean
                    description: Whether automatic break detection runs for this channel. Read-only on create and update; toggle it via the detection enable/disable endpoints. Defaults to false.
                  createdAt:
                    type: string
                    description: Timestamp when the channel was created, as an ISO 8601 datetime string.
                required:
                - id
                - timebase
                - detectionEnabled
                - createdAt
                additionalProperties: false
      tags:
      - Channels
      security:
      - basicAuth: []
        orgId: []
      summary: Update api channels by channel id
      x-summary-source: derived
      operationId: patchApiV1ChannelsByChannelId
      x-operation-id-source: derived
    delete:
      description: Delete a channel.
      parameters:
      - schema:
          type: string
        in: path
        name: channelId
        required: true
        description: Identifier of the channel.
      responses:
        '204':
          description: Default Response
      tags:
      - Channels
      security:
      - basicAuth: []
        orgId: []
      summary: Delete api channels by channel id
      x-summary-source: derived
      operationId: deleteApiV1ChannelsByChannelId
      x-operation-id-source: derived
  /api/v1/channels/{channelId}/detection/enable:
    post:
      description: Enable automatic ad-break detection for a channel. Starts the per-channel detection scheduler.
      parameters:
      - schema:
          type: string
        in: path
        name: channelId
        required: true
        description: Identifier of the channel.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique channel identifier.
                  name:
                    description: Human-readable display name for the channel.
                    type: string
                  timebase:
                    type: string
                    enum:
                    - wallclock
                    - pts
                    - mediatime
                    description: 'Time reference used for scheduling breaks on a channel: `wallclock` (ISO 8601 datetime), `pts` (numeric presentation timestamp) or `mediatime` (seconds from the start of the asset; VOD channels only).'
                  dvrWindowMs:
                    description: DVR (rewind) window in milliseconds, controlling how far back the platform looks for breaks to deliver to players. Defaults to 300000 (5 minutes) when not set.
                    type: integer
                    maximum: 9007199254740991
                  adPrefetchMs:
                    description: Ad prefetch window in milliseconds, controlling how far ahead of a break start time the break is delivered to the player. Defaults to 10000 (10 seconds) when not set.
                    type: integer
                    maximum: 9007199254740991
                  liveOffsetMs:
                    description: 'Live latency offset in milliseconds: how far the player live playhead trails real time on this channel. Break start times are evaluated against now minus this offset. Defaults to 0 (no offset).'
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  customAssetKey:
                    description: Google Ad Manager (GAM) custom asset key used for the server-guided (SGAI) path. Required for vendor pod breaks. Non-empty when provided; to remove it, delete the SGAI channel integration instead.
                    type: string
                    minLength: 1
                  pollingIdleSeconds:
                    description: Break manifest polling interval in seconds advertised to players when no break is active. Defaults to 10 when not set.
                    type: integer
                    maximum: 9007199254740991
                  pollingActiveSeconds:
                    description: Break manifest polling interval in seconds advertised to players during an active break. Defaults to 1 when not set.
                    type: integer
                    maximum: 9007199254740991
                  adStartDelay:
                    description: Delay in seconds of played media time before any break may start, emitted at the top level of the break manifest. Enforced player-side. Omitted means 0 (no delay).
                    type: number
                    minimum: 0
                  delivery:
                    minItems: 1
                    type: array
                    items:
                      type: object
                      properties:
                        mode:
                          type: string
                          enum:
                          - sgai
                          - ssai
                          description: 'Ad insertion architecture the player should use: `sgai` or `ssai`.'
                        targeting:
                          description: Player-side match criteria for this rule. The player uses the mode of the first rule whose targeting matches the current platform; a rule without targeting acts as the default.
                          type: object
                          properties:
                            deviceType:
                              description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                              type: string
                              enum:
                              - desktop
                              - tablet
                              - mobile
                              - tv
                          additionalProperties: false
                      required:
                      - mode
                      additionalProperties: false
                    description: Ordered delivery steering rules emitted in the break manifest. The player uses the mode (`sgai` or `ssai`) of the first rule whose targeting matches its device type; a rule without targeting acts as the default. Non-empty when provided; when omitted the player defaults to `sgai`.
                  detectionEnabled:
                    type: boolean
                    description: Whether automatic break detection runs for this channel. Read-only on create and update; toggle it via the detection enable/disable endpoints. Defaults to false.
                  createdAt:
                    type: string
                    description: Timestamp when the channel was created, as an ISO 8601 datetime string.
                required:
                - id
                - timebase
                - detectionEnabled
                - createdAt
                additionalProperties: false
      tags:
      - Channels
      security:
      - basicAuth: []
        orgId: []
      summary: Create api channels by channel id detection enable
      x-summary-source: derived
      operationId: postApiV1ChannelsByChannelIdDetectionEnable
      x-operation-id-source: derived
  /api/v1/channels/{channelId}/detection/disable:
    post:
      description: Disable automatic ad-break detection for a channel. Stops the per-channel detection scheduler.
      parameters:
      - schema:
          type: string
        in: path
        name: channelId
        required: true
        description: Identifier of the channel.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique channel identifier.
                  name:
                    description: Human-readable display name for the channel.
                    type: string
                  timebase:
                    type: string
                    enum:
                    - wallclock
                    - pts
                    - mediatime
                    description: 'Time reference used for scheduling breaks on a channel: `wallclock` (ISO 8601 datetime), `pts` (numeric presentation timestamp) or `mediatime` (seconds from the start of the asset; VOD channels only).'
                  dvrWindowMs:
                    description: DVR (rewind) window in milliseconds, controlling how far back the platform looks for breaks to deliver to players. Defaults to 300000 (5 minutes) when not set.
                    type: integer
                    maximum: 9007199254740991
                  adPrefetchMs:
                    description: Ad prefetch window in milliseconds, controlling how far ahead of a break start time the break is delivered to the player. Defaults to 10000 (10 seconds) when not set.
                    type: integer
                    maximum: 9007199254740991
                  liveOffsetMs:
                    description: 'Live latency offset in milliseconds: how far the player live playhead trails real time on this channel. Break start times are evaluated against now minus this offset. Defaults to 0 (no offset).'
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  customAssetKey:
                    description: Google Ad Manager (GAM) custom asset key used for the server-guided (SGAI) path. Required for vendor pod breaks. Non-empty when provided; to remove it, delete the SGAI channel integration instead.
                    type: string
                    minLength: 1
                  pollingIdleSeconds:
                    description: Break manifest polling interval in seconds advertised to players when no break is active. Defaults to 10 when not set.
                    type: integer
                    maximum: 9007199254740991
                  pollingActiveSeconds:
                    description: Break manifest polling interval in seconds advertised to players during an active break. Defaults to 1 when not set.
                    type: integer
                    maximum: 9007199254740991
                  adStartDelay:
                    description: Delay in seconds of played media time before any break may start, emitted at the top level of the break manifest. Enforced player-side. Omitted means 0 (no delay).
                    type: number
                    minimum: 0
                  delivery:
                    minItems: 1
                    type: array
                    items:
                      type: object
                      properties:
                        mode:
                          type: string
                          enum:
                          - sgai
                          - ssai
                          description: 'Ad insertion architecture the player should use: `sgai` or `ssai`.'
                        targeting:
                          description: Player-side match criteria for this rule. The player uses the mode of the first rule whose targeting matches the current platform; a rule without targeting acts as the default.
                          type: object
                          properties:
                            deviceType:
                              description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                              type: string
                              enum:
                              - desktop
                              - tablet
                              - mobile
                              - tv
                          additionalProperties: false
                      required:
                      - mode
                      additionalProperties: false
                    description: Ordered delivery steering rules emitted in the break manifest. The player uses the mode (`sgai` or `ssai`) of the first rule whose targeting matches its device type; a rule without targeting acts as the default. Non-empty when provided; when omitted the player defaults to `sgai`.
                  detectionEnabled:
                    type: boolean
                    description: Whether automatic break detection runs for this channel. Read-only on create and update; toggle it via the detection enable/disable endpoints. Defaults to false.
                  createdAt:
                    type: string
                    description: Timestamp when the channel was created, as an ISO 8601 datetime string.
                required:
                - id
                - timebase
                - detectionEnabled
                - createdAt
                additionalProperties: false
      tags:
      - Channels
      security:
      - basicAuth: []
        orgId: []
      summary: Create api channels by channel id detection disable
      x-summary-source: derived
      operationId: postApiV1ChannelsByChannelIdDetectionDisable
      x-operation-id-source: derived
  /api/v1/channels/{channelId}/breaks:
    get:
      description: List all breaks for a channel with pagination, filtering, and sorting.
      parameters:
      - schema:
          default: 1
          type: integer
          minimum: 1
          maximum: 9007199254740991
        in: query
        name: page
        required: false
        description: Page number to return. The first page is 1.
      - schema:
          default: 20
          type: integer
          minimum: 1
          maximum: 100
        in: query
        name: pageSize
        required: false
        description: Number of items to return per page, between 1 and 100.
      - schema:
          type: string
        in: query
        name: filter
        required: false
        description: Optional RSQL filter expression (for example `status==READY;duration=gt=30`). Each resource exposes its own allow-list of filterable fields and operators.
      - schema:
          type: string
        in: query
        name: sort
        required: false
        description: Optional comma-separated list of fields to sort by; prefix a field with `-` for descending order. Defaults to newest first (createdAt descending).
      - schema:
          type: string
        in: path
        name: channelId
        required: true
        description: Identifier of the channel.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                          description: Unique identifier of the break within the channel.
                        start:
                          description: Scheduled start of the break. On wallclock channels an ISO 8601 datetime string; on PTS channels a PTS number; for event-triggered breaks an event trigger object. Absent for cued breaks awaiting a start time.
                          anyOf:
                          - type: string
                            format: date-time
                            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          - type: number
                            minimum: 0
                          - type: object
                            properties:
                              type:
                                type: string
                                enum:
                                - event
                                description: Discriminator for an event-triggered start.
                              event:
                                type: string
                                enum:
                                - start
                                - pause
                                - end
                                description: 'Player event that triggers a break: `start` (content playback begins; a pre-roll), `pause` (the viewer pauses; a pause ad), or `end` (playback ended; a post-roll).'
                              delay:
                                description: Seconds before the break starts after the event fires. Minimum 0, default 0.
                                type: number
                                minimum: 0
                            required:
                            - type
                            - event
                            additionalProperties: false
                        duration:
                          type: number
                          minimum: 0
                          description: Break duration in seconds. Minimum 0.
                        resumeOffset:
                          description: Offset in seconds controlling where content playback resumes after the break. When not present, the break duration is used as the resume offset. When a viewer seeks over a break with controls.snapback enabled, the resume offset is ignored and the viewer seek point is used to resume. Minimum 0.
                          type: number
                          minimum: 0
                        controls:
                          description: Optional playback controls for the break, such as skip and snapback behavior.
                          type: object
                          properties:
                            skipOffset:
                              description: Number of seconds the viewer must watch before the break becomes skippable. Minimum 0.
                              type: number
                              minimum: 0
                            snapback:
                              description: Whether the viewer is allowed to seek over the break. When enabled, a viewer seeking over the break is returned to the start of the break and plays it in full; once the break is done, playback resumes at the original seek position. When a viewer seeks into the break, they are also returned to the start of the break and play it in full, after which playback resumes at the default resume point (resumeOffset, or the break duration when not set). When not present, the viewer is allowed to seek over the break.
                              type: boolean
                          additionalProperties: false
                        variant:
                          anyOf:
                          - oneOf:
                            - type: object
                              properties:
                                targeting:
                                  description: 'Optional device targeting for this variant. When a break provides several variants, the player picks the one matching the viewer device. A variant without targeting is considered a default. When several variants qualify (multiple defaults, or multiple variants targeting the same platform), the order in which they are defined decides: the player uses the first variant whose format it can play on the current platform.'
                                  type: object
                                  properties:
                                    deviceType:
                                      description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                                      type: string
                                      enum:
                                      - desktop
                                      - tablet
                                      - mobile
                                      - tv
                                  additionalProperties: false
                                format:
                                  type: string
                                  enum:
                                  - single
                                  description: 'Variant layout discriminator. `single`: a full-screen break filling the entire player viewport.'
                                assets:
                                  minItems: 1
                                  type: array
                                  items:
                                    oneOf:
                                    - type: object
                                      properties:
                                        id:
                                          default: c6cac403-2d6d-4111-b4da-8d52f7067732
                                          description: Unique identifier of the asset within the break. Provided by the customer or auto-generated as a UUID when omitted.
                                          type: string
                                          minLength: 1
                                        mediaType:
                                          type: string
                                          enum:
                                          - video
                                          - image
                                          description: 'Media type of an asset: `video` or `image`.'
                                        mimeType:
                                          description: MIME type of the asset media (for example `video/mp4`), when known. Allows the player to determine upfront whether it can play this asset; otherwise it has to try, making asset preparation slower.
                                          type: string
                                        duration:
                                          description: Duration of the asset in seconds, when known. Minimum 0.
                                          type: number
                                          minimum: 0
                                        interaction:
                                          description: Optional interaction behavior for the asset, such as a click-through URL.
                                          type: object
                                          properties:
                                            clickThrough:
                                              description: Click-through URL opened when the viewer interacts with the ad. Must be a valid URL.
                                              type: string
                                              format: uri
                                          additionalProperties: false
                                        type:
                                          type: string
                                          enum:
                                          - static
                                          description: 'Asset type discriminator. `static`: a direct content reference such as a media or image URL.'
                                        uri:
                                          anyOf:
                                          - type: string
                                            format: uri
                                          - minItems: 1
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                value:
                                                  type: string
                                                  minLength: 1
                                                  description: The asset URI for this entry (for example a media or VAST tag URL).
                                                targeting:
                                                  description: Optional device targeting that selects when this URI is used.
                                                  type: object
                                                  properties:
                                                    deviceType:
                                                      description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                                                      type: string
                                                      enum:
                                                      - desktop
                                                      - tablet
                                                      - mobile
                                                      - tv
                                                  additionalProperties: false
                                              required:
                                              - value
                                              additionalProperties: false
                                          description: 'Location of the static asset: either a single URL string, or an array of URL entries each with optional device targeting.'
                                      required:
                                      - id
                                      - mediaType
                                      - type
                                      - uri
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        id:
                                          default: c6cac403-2d6d-4111-b4da-8d52f7067732
                                          description: Unique identifier of the asset within the break. Provided by the customer or auto-generated as a UUID when omitted.
                                          type: string
                                          minLength: 1
                                        mediaType:
                                          type: string
                                          enum:
                                          - video
                                          - image
                                          description: 'Media type of an asset: `video` or `image`.'
                                        mimeType:
                                          description: MIME type of the asset media (for example `video/mp4`), when known. Allows the player to determine upfront whether it can play this asset; otherwise it has to try, making asset preparation slower.
                                          type: string
                                        duration:
                                          description: Duration of the asset in seconds, when known. Minimum 0.
                                          type: number
                                          minimum: 0
                                        interaction:
                                          description: Optional interaction behavior for the asset, such as a click-through URL.
                                          type: object
                                          properties:
                                            clickThrough:
                                              description: Click-through URL opened when the viewer interacts with the ad. Must be a valid URL.
                                              type: string
                                              format: uri
                                          additionalProperties: false
                                        type:
                                          type: string
                                          enum:
                                          - vast
                                          description: 'Asset type discriminator. `vast`: a VAST tag URL the player resolves to fetch and render the creative.'
                                        uri:
                                          anyOf:
                                          - type: string
                                            format: uri
                                          - minItems: 1
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                value:
                                                  type: string
                                                  minLength: 1
                                                  description: The asset URI for this entry (for example a media or VAST tag URL).
                                                targeting:
                                                  description: Optional device targeting that selects when this URI is used.
                                                  type: object
                                                  properties:
                                                    deviceType:
                                                      description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                                                      type: string
                                                      enum:
                                                      - desktop
                                                      - tablet
                                                      - mobile
                                                      - tv
                                                  additionalProperties: false
                                              required:
                                              - value
                                              additionalProperties: false
                                          description: 'VAST tag location: either a single URL string, or an array of URL entries each with optional device targeting.'
                                      required:
                                      - id
                                      - mediaType
                                      - type
                                      - uri
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        id:
                                          default: c6cac403-2d6d-4111-b4da-8d52f7067732
                                          description: Unique identifier of the asset within the break. Provided by the customer or auto-generated as a UUID when omitted.
                                          type: string
                                          minLength: 1
                                        mediaType:
                                          type: string
                                          enum:
                                          - video
                                          - image
                                          description: 'Media type of an asset: `video` or `image`.'
                                        mimeType:
                                          description: MIME type of the asset media (for example `video/mp4`), when known. Allows the player to determine upfront whether it can play this asset; otherwise it has to try, making asset preparation slower.
                                          type: string
                                        duration:
                                          description: Duration of the asset in seconds, when known. Minimum 0.
                                          type: number
                                          minimum: 0
                                        interaction:
                                          description: Optional interaction behavior for the asset, such as a click-through URL.
                                          type: object
                                          properties:
                                            clickThrough:
                                              description: Click-through URL opened when the viewer interacts with the ad. Must be a valid URL.
                                              type: string
                                              format: uri
                                          additionalProperties: false
                                        type:
                                          type: string
                                          enum:
                                          - vendor
                                          description: 'Asset type discriminator. `vendor`: a vendor-managed asset where OptiView manages the delivery and the vendor manages the ad decisioning.'
                                        vendor:
                                          type: string
                                          enum:
                                          - gam
                                          description: Ad vendor responsible for decisioning and delivery of a vendor asset. Currently only `gam` (Google Ad Manager).
                                        uri:
                                          default: placeholder
                                          description: Vendor asset URI. For Google Ad Manager pod assets the URI is typically unknown at creation and unused downstream; defaults to a placeholder.
                                          type: string
                                          minLength: 1
                                        vendorParameters:
                                          type: object
                                          additionalProperties:
                                            type: string
                                          description: Vendor-specific parameters as a string map. Validated per vendor; for `gam` a `type` field is required (currently only `pod`).
                                        assetParameters:
                                          description: Optional parameters passed through to the vendor as a string map. For example, for Google Ad Manager these are the `adTagParameters`.
                                          type: object
                                          additionalProperties:
                                            type: string
                                      required:
                                      - id
                                      - mediaType
                                      - type
                                      - vendor
                                      - uri
                                      - vendorParameters
                                      additionalProperties: false
                                  description: Assets played for this variant. At least one is required.
                              required:
                              - format
                              - assets
                              additionalProperties: false
                            - type: object
                              properties:
                                targeting:
                                  description: 'Optional device targeting for this variant. When a break provides several variants, the player picks the one matching the viewer device. A variant without targeting is considered a default. When several variants qualify (multiple defaults, or multiple variants targeting the same platform), the order in which they are defined decides: the player uses the first variant whose format it can play on the current platform.'
                                  type: object
                                  properties:
                                    deviceType:
                                      description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                                      type: string
                                      enum:
                                      - desktop
                                      - tablet
                                      - mobile
                                      - tv
                                  additionalProperties: false
                                format:
                                  type: string
                                  enum:
                                  - double
                                  description: 'Variant layout discriminator. `double`: a side-by-side layout where each asset is shown with a companion asset that is the background behind the side-by-side.'
                                assets:
                                  minItems: 1
                                  type: array
                                  items:
                                    allOf:
                                    - oneOf:
                                      - type: object
                                        properties:
                                          id:
                                            default: c6cac403-2d6d-4111-b4da-8d52f7067732
                                            description: Unique identifier of the asset within the break. Provided by the customer or auto-generated as a UUID when omitted.
                                            type: string
                                            minLength: 1
                                          mediaType:
                                            type: string
                                            enum:
                                            - video
                                            - image
                                            description: 'Media type of an asset: `video` or `image`.'
                                          mimeType:
                                            description: MIME type of the asset media (for example `video/mp4`), when known. Allows the player to determine upfront whether it can play this asset; otherwise it has to try, making asset preparation slower.
                                            type: string
                                          duration:
                                            description: Duration of the asset in seconds, when known. Minimum 0.
                                            type: number
                                            minimum: 0
                                          interaction:
                                            description: Optional interaction behavior for the asset, such as a click-through URL.
                                            type: object
                                            properties:
                                              clickThrough:
                                                description: Click-through URL opened when the viewer interacts with the ad. Must be a valid URL.
                                                type: string
                                                format: uri
                                            additionalProperties: false
                                          type:
                                            type: string
                                            enum:
                                            - static
                                            description: 'Asset type discriminator. `static`: a direct content reference such as a media or image URL.'
                                          uri:
                                            anyOf:
                                            - type: string
                                              format: uri
                                            - minItems: 1
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                    description: The asset URI for this entry (for example a media or VAST tag URL).
                                                  targeting:
                                                    description: Optional device targeting that selects when this URI is used.
                                                    type: object
                                                    properties:
                                                      deviceType:
                                                        description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                                                        type: string
                                                        enum:
                                                        - desktop
                                                        - tablet
                                                        - mobile
                                                        - tv
                                                    additionalProperties: false
                                                required:
                                                - value
                                                additionalProperties: false
                                            description: 'Location of the static asset: either a single URL string, or an array of URL entries each with optional device targeting.'
                                        required:
                                        - id
                                        - mediaType
                                        - type
                                        - uri
                                        additionalProperties: false
                                      - type: object
                                        properties:
                                          id:
                                            default: c6cac403-2d6d-4111-b4da-8d52f7067732
                                            description: Unique identifier of the asset within the break. Provided by the customer or auto-generated as a UUID when omitted.
                                            type: string
                                            minLength: 1
                                          mediaType:
                                            type: string
                                            enum:
                                            - video
                                            - image
                                            description: 'Media type of an asset: `video` or `image`.'
                                          mimeType:
                                            description: MIME type of the asset media (for example `video/mp4`), when known. Allows the player to determine upfront whether it can play this asset; otherwise it has to try, making asset preparation slower.
                                            type: string
                                          duration:
                                            description: Duration of the asset in seconds, when known. Minimum 0.
                                            type: number
                                            minimum: 0
                                          interaction:
                                            description: Optional interaction behavior for the asset, such as a click-through URL.
                                            type: object
                                            properties:
                                              clickThrough:
                                                description: Click-through URL opened when the viewer interacts with the ad. Must be a valid URL.
                                                type: string
                                                format: uri
                                            additionalProperties: false
                                          type:
                                            type: string
                                            enum:
                                            - vast
                                            description: 'Asset type discriminator. `vast`: a VAST tag URL the player resolves to fetch and render the creative.'
                                          uri:
                                            anyOf:
                                            - type: string
                                              format: uri
                                            - minItems: 1
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                    description: The asset URI for this entry (for example a media or VAST tag URL).
                                                  targeting:
                                                    description: Optional device targeting that selects when this URI is used.
                                                    type: object
                                                    properties:
                                                      deviceType:
                                                        description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                                                        type: string
                                                        enum:
                                                        - desktop
                                                        - tablet
                                                        - mobile
                                                        - tv
                                                    additionalProperties: false
                                                required:
                                                - value
                                                additionalProperties: false
                                            description: 'VAST tag location: either a single URL string, or an array of URL entries each with optional device targeting.'
                                        required:
                                        - id
                                        - mediaType
                                        - type
                                        - uri
                                        additionalProperties: false
                                      - type: object
                                        properties:
                                          id:
                                            default: c6cac403-2d6d-4111-b4da-8d52f7067732
                                            description: Unique identifier of the asset within the break. Provided by the customer or auto-generated as a UUID when omitted.
                                            type: string
                                            minLength: 1
                                          mediaType:
                                            type: string
                                            enum:
                                            - video
                                            - image
                                            description: 'Media type of an asset: `video` or `image`.'
                                          mimeType:
                                            description: MIME type of the asset media (for example `video/mp4`), when known. Allows the player to determine upfront whether it can play this asset; otherwise it has to try, making asset preparation slower.
                                            type: string
                                          duration:
                                            description: Duration of the asset in seconds, when known. Minimum 0.
                                            type: number
                                            minimum: 0
                                          interaction:
                                            description: Optional interaction behavior for the asset, such as a click-through URL.
                                            type: object
                                            properties:
                                              clickThrough:
                                                description: Click-through URL opened when the viewer interacts with the ad. Must be a valid URL.
                                                type: string
                                                format: uri
                                            additionalProperties: false
                                          type:
                                            type: string
                                            enum:
                                            - vendor
                                            description: 'Asset type discriminator. `vendor`: a vendor-managed asset where OptiView manages the delivery and the vendor manages the ad decisioning.'
                                          vendor:
                                            type: string
                                            enum:
                                            - gam
                                            description: Ad vendor responsible for decisioning and delivery of a vendor asset. Currently only `gam` (Google Ad Manager).
                                          uri:
                                            default: placeholder
                                            description: Vendor asset URI. For Google Ad Manager pod assets the URI is typically unknown at creation and unused downstream; defaults to a placeholder.
                                            type: string
                                            minLength: 1
                                          vendorParameters:
                                            type: object
                                            additionalProperties:
                                              type: string
                                            description: Vendor-specific parameters as a string map. Validated per vendor; for `gam` a `type` field is required (currently only `pod`).
                                          assetParameters:
                                            description: Optional parameters passed through to the vendor as a string map. For example, for Google Ad Manager these are the `adTagParameters`.
                                            type: object
                                            additionalProperties:
                                              type: string
                                        required:
                                        - id
                                        - mediaType
                                        - type
                                        - vendor
                                        - uri
                                        - vendorParameters
                                        additionalProperties: false
                                    - type: object
                                      properties:
                                        companion:
                                          oneOf:
                                          - type: object
                                            properties:
                                              id:
                                                default: c6cac403-2d6d-4111-b4da-8d52f7067732
                                                description: Unique identifier of the asset within the break. Provided by the customer or auto-generated as a UUID when omitted.
                                                type: string
                                                minLength: 1
                                              mediaType:
                                                type: string
                                                enum:
                                                - video
                                                - image
                                                description: 'Media type of an asset: `video` or `image`.'
                                              mimeType:
                                                description: MIME type of the asset media (for example `video/mp4`), when known. Allows the player to determine upfront whether it can play this asset; otherwise it has to try, making asset preparation slower.
                                                type: string
                                              duration:
                                                description: Duration of the asset in seconds, when known. Minimum 0.
                                                type: number
                                                minimum: 0
                                              interaction:
                                                description: Optional interaction behavior for the asset, such as a click-through URL.
                                                type: object
                                                properties:
                                                  clickThrough:
                                                    description: Click-through URL opened when the viewer interacts with the ad. Must be a valid URL.
                                                    type: string
                                                    format: uri
                                                additionalProperties: false
                                              type:
                                                type: string
                                                enum:
                                                - static
                                                description: 'Asset type discriminator. `static`: a direct content reference such as a media or image URL.'
                                              uri:
                                                anyOf:
                                                - type: string
                                                  format: uri
                                                - minItems: 1
                                                  type: array
                                                  items:
                                                    type: object
                                                    properties:
                                                      value:
                                                        type: string
                                                        minLength: 1
                                                        description: The asset URI for this entry (for example a media or VAST tag URL).
                                                      targeting:
                                                        description: Optional device targeting that selects when this URI is used.
                                                        type: object
                                                        properties:
                                                          deviceType:
                                                            description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                                                            type: string
                                                            enum:
                                                            - desktop
                                                            - tablet
                                                            - mobile
                                                            - tv
                                                        additionalProperties: false
                                                    required:
                                                    - value
                                                    additionalProperties: false
                                                description: 'Location of the static asset: either a single URL string, or an array of URL entries each with optional device targeting.'
                                            required:
                                            - id
                                            - mediaType
                                            - type
                                            - uri
                                            additionalProperties: false
                                          - type: object
                                            properties:
                                              id:
                                                default: c6cac403-2d6d-4111-b4da-8d52f7067732
                                                description: Unique identifier of the asset within the break. Provided by the customer or auto-generated as a UUID when omitted.
                                                type: string
                                                minLength: 1
                                              mediaType:
                                                type: string
                                                enum:
                                                - video
                                                - image
                                                description: 'Media type of an asset: `video` or `image`.'
                                              mimeType:
                                                description: MIME type of the asset media (for example `video/mp4`), when known. Allows the player to determine upfront whether it can play this asset; otherwise it has to try, making asset preparation slower.
                                                type: string
                                              duration:
                                                description: Duration of the asset in seconds, when known. Minimum 0.
                                                type: number
                                                minimum: 0
                                              interaction:
                                                description: Optional interaction behavior for the asset, such as a click-through URL.
                                                type: object
                                                properties:
                                                  clickThrough:
                                                    description: Click-through URL opened when the viewer interacts with the ad. Must be a valid URL.
                                                    type: string
                                                    format: uri
                                                additionalProperties: false
                                              type:
                                                type: string
                                                enum:
                                                - vast
                                                description: 'Asset type discriminator. `vast`: a VAST tag URL the player resolves to fetch and render the creative.'
                                              uri:
                                                anyOf:
                                                - type: string
                                                  format: uri
                                                - minItems: 1
                                                  type: array
                                                  items:
                                                    type: object
                                                    properties:
                                                      value:
                                                        type: string
                                                        minLength: 1
                                                        description: The asset URI for this entry (for example a media or VAST tag URL).
                                                      targeting:
                                                        description: Optional device targeting that selects when this URI is used.
                                                        type: object
                                                        properties:
                                                          deviceType:
                                                            description: Device type this entry targets. When a break provides several variants, the player selects the one matching the viewer device.
                                                            type: string
                                                            enum:
                                                            - desktop
                                                            - tablet
                                                            - mobile
                                                            - tv
                                                        additionalProperties: false
                                                    required:
                                                    - value
                                                    additionalProperties: false
                                                description: 'VAST tag location: either a single URL string, or an array of URL entries each with optional device targeting.'
                                            required:
                                            - id
                                            - mediaType
                                            - type
                                            - uri
                                            additionalProperties: false
                                          - type: object
                                            properties:
                                              id:
                                                default: c6cac403-2d6d-4111-b4da-8d52f7067732
                                                description: Unique identifier of the asset within the break. Provided by the customer or auto-generated as a UUID when omitted.
                                                type: string
                                                minLength: 1
                                              mediaType:
                                                type: string
                                                enum:
                                                - video
                                                - image
                                                description: 'Media type of an asset: `video` or `image`.'
                                              mimeType:
                                                description: MIME type of the asset media (for example `video/mp4`), when known. Allows the player to determine upfront whether it can play this asset; otherwise it has to try, making asset preparation slower.
                                                type: string
                                              duration:
                                                description: Duration of the asset in seconds, when known. Minimum 0.
                                                type: number
                                                minimum: 0
                                              interaction:
                                                description: Optional interaction behavior for the asset, such as a click-through URL.
                                                type: object
                                                properties:
                                                  clickThrough:
[...]
